

<h1>Listing sliders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Slide</th>
      <th>Status</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sliders.each do |slider| %>
      <tr>
        <td><%= slider.name %></td>
        <td><%= slider.description %></td>
        <td><%= slider.slide %></td>
        <td><%= slider.status %></td>
        <td><%= slider.admin %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slider', new_slider_path %>
