<!-- Signup Modal -->
 
<div class="wtowmodal sign_up_modal"  >
<div>
<div class="modal-content">
    <div class="modal-header"> 
        <h4 class="modal-title" id="myModalLabel"><strong>Edit <%= resource_name.to_s.humanize %></strong></h4>
    </div>
    
    <div class="modal-body"> 
    <div class="container-fluid">
        <div class="col-md-12"> 
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put },:html=> { class: 'form_style2' }) do |f| %>
            <%= f.error_notification %>
            <div class="form-group">
              <label for="exampleInputEmail1">Email id</label>
              <%= f.input :email, required: true,label: false, autofocus: true,input_html: {class: "form-control"},placeholder: "Email" %> 
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">First name</label>
              <%= f.input :first_name, required: true,label: false,input_html: {class: "form-control"},placeholder: "First name" %> 
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Last name</label>
              <%= f.input :last_name, required: true,label: false,input_html: {class: "form-control"},placeholder: "Last name" %> 
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Profile Picture</label>
              <p><%= image_tag current_user.profile_pic,width: '75px'%></p>
              <%= f.input :profile_pic, required: true,label: false,input_html: {class: "form-contl"},as: :file %> 
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <%= f.input :password, autocomplete: "off",label: false,input_html: {class: "form-control"}, hint: "leave it blank if you don't want to change it", required: false %> 
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Repeat Password</label> 
              <%= f.input :password_confirmation,input_html: {class: "form-control"}, required: true,label: false %> 
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Current Password</label>  
              <%= f.input :current_password, hint: "we need your current password to confirm your changes",input_html: {class: "form-control"}, required: true,label: false %>
            </div>

            <div class="form-group">
            <div class="row"><%= f.button :submit, "Submit",class: "btn btn-default margin_t10" %></div>
            </div>
          <%end%>
          <h3>Cancel my account</h3>

          <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

          <%= link_to "Back", :back %>
            
        </div> 
        <div class="clearfix"></div>
    </div>
    </div>
</div>
</div>
</div>