 
<%#= render "devise/shared/links" %>

<div class="wtowmodal sign_up_mal"  >
<div>
<div class="modal-content">
    <div class="modal-header"> 
        <h4 class="modal-title" id="myModalLabel"><strong>Forgot your password?</strong></h4>
    </div>
    
    <div class="modal-body"> 
    <div class="container-fluid">
        <div class="col-md-12"> 
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post },:html=> { class: 'form_style2' }) do |f| %>
            <%= f.error_notification %>
            <div class="form-group">
              <label for="exampleInputEmail1">Email id</label>
              <%= f.input :email, required: true,label: false, autofocus: true,input_html: {class: "form-control"},placeholder: "Email" %> 
            </div>
             
            <div class="form-group">
            <div class="row"><%= f.button :submit, "Send me reset password instructions",class: "btn btn-default margin_t10" %></div>
            </div>
          <%end%> 
        </div> 
        <div class="clearfix"></div>
    </div>
    </div>
</div>
</div>
</div>
