
<% if (@videos.empty?) %>
    <center><p>No videos found.</p></center>
  <%else%>
  <% @videos.each do |video| %> 
    <li class="inspiration animated" data-gen="fadeInLeft"  data-content="#Audio_1">
        <div class="thumb">
            <div class="view">
            <a href="javascript: void(0)" class="button video_id" data-id="<%= video.id %>">Play</a>
            </div>
            <img src="<%= video.video_url(:thumb) %>" alt="Pic" class="img-responsive"/>
        </div>
        <div class="short_de">
            <h4><a class="colio-link" href="#"><%= video.name%></a></h4>
            <p>Details</p>
        </div>
    </li>  
  <%end%>  
<%end%> 