<!-- CONTENT BLOCK { -->
<div class="content_box yellow_box">
    
    <div class="main_head page_head text-center">
        <h1 class="head_1 animated" data-gen="fadeInUp">Videos</h1>
    </div>
    <div class="clearfix"></div> 

    <section class="block_1">
      <div class="padding_20 margin_b15 form_style1">
      <div class="col-xs-12">
           
        <%= form_tag(videos_path, :method => "get", class: "form-horizontal", id: "video_search") do %>
          <div class="form-group padding_r20">
              <div class="col-xs-6 col-md-12"> 
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Videos", id: "srch-term" %>
              </div> 
          </div>  
        <% end %> 
        </div>
        </div>
     </section> 
    <div class="clearfix"></div> 
    <div class="video_player_h_s">
       <a class="player-close pull-right" href="javascript: void(0)">
         <%= image_tag "audio-close.png"%>
      </a>
        <div class="main"> 
          <%= render 'shared/video' %>
        </div>
    </div>
    <div class="audio_albums clearfix">
      <ul class="album_list list-unstyled" id="videos_list"> 
           <div id="video_render"><%= render 'videos' %></div>
      </ul>
    </div> 
    <div class="clearfix"></div> 
    
     
    <div class="pag_unstyled">  
      <ul class="pagination">
        <%= will_paginate @videos_bottom_pagiantion,renderer: BootstrapPagination::Rails,remote: true,:page_links => false %>
      </ul>
    </div>
    <script type="text/javascript">
 
$(document).ready(function() {
  $('div.video_player_h_s').hide();
  $("#video_search input").keyup(function() {
      $.get($("#video_search").attr("action"), $("#video_search").serialize(), null, "script");
      return false;
    });
  $("body").on("click",".video_id",function() {

    $('#videos_list li').removeClass('colio-active-item');
      $(this).closest( "li" ).addClass('colio-active-item');
  var videoid = $(this).attr("data-id");  
  $("#jquery_jplayer_3").jPlayer("destroy");
      $.ajax({ 
        type: 'GET',
        url: '/welcome/video_details',
        data: { 
                 video_id: videoid 
                  },
        success: function(data,status,xhr){ 
          $('div.video_player_h_s').show();
           $(window).scrollTop($(window).scrollTop()+100);
          $('#jquery_jplayer_3').jPlayer({
            ready:function (event) {
                $(this).jPlayer("setMedia", {
                    m4v:data.video.url
                }).jPlayer("play");   //attemp to play media
            }, 
            supplied:"m4v",
            cssSelectorAncestor: "#jp_container_3"
        }); 
           
        },
        error: function(xhr,status,error){
          console.log(xhr);
           
        }
      }); 
       
  });

  $('.player-close').on("click",function(){
  $("#jquery_jplayer_3").jPlayer("destroy");
   $('div.video_player_h_s').hide();
  });

  //Initialize Original height of content_box
  var $content_box = $('.content_box');
  var content_box_height = $('.content_box').height(); 
  // "colio" plugin
  $('.audio_albums .album_list').colio({
    id: 'demo_1',
    theme: 'black',
    placement: 'inside',
    onExpand: function(){
      $content_box.height( content_box_height + $(this).height() );
    },
    onCollapse: function(){
      $content_box.height( content_box_height );
    }
  }); 
});

     
  </script>
     
</div>
  