<%= link_to image_tag("share/login.png") + "Logout", destroy_user_session_path, :method => :delete,class: "login_link"%>
<%= link_to image_tag("share/login.png") + "profile", edit_user_registration_path,class: "login_link"%>
 