<div class="row">
	<div class="col-md-2 bible">		
	</div>
	<div class="col-md-1 ">
	</div>
	<div class="col-md-6 book">
		<p id="notice"><%= notice %></p>
		<center> 
		
		<h3>Chapters Of <%#= @bible.name%></h3>
			<strong>Chapter number:</strong>
		  <%= @chapter.chapter_number %>
		  
		</center>
		<p>
		 		  
		  <%= image_tag chapter.chapter_image_url, class: "img-responsive" %>
		  
		</p>
		<p>		  
		  <%= audio_tag chapter.chapter_audio %>
		</p>
		
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-2">		
	</div>
</div>



