 $('.sign_up_modal').modal("hide");
$("#devise_header_render").html("<%= escape_javascript(render 'shared/devise_header') %>")
 
    function generate(layout,message,type) {
        var n = noty({
            text        : message,
            type        : type,
            dismissQueue: true,
            layout      : layout,
            theme       : 'defaultTheme'
        });
        console.log('html: ' + n.options.id);
    } 
    function generateAll() {
        generate('topCenter','welcome <%= @user.email%>','success');
        
    }

    $(document).ready(function () {

        generateAll();

    });
 
// $('#success_message').show();
//   $('#success_message').html("welcome <%= @user.email%>");
//   setTimeout(function() {
//         $('#success_message').hide();
//    }, 2000);