<!-- CONTENT BLOCK { -->
<div class="content_box yellow_box"> 
  <div class="main_head page_head text-center">
    <h1 class="head_1 animated" data-gen="fadeInUp">Mailbox</h1>
  </div> 
  <div class="clearfix"></div> 
  <section class="block_1"> 
    <div class="panel-group panel_style1" id="accordion">
      <div class="panel panel-default">
        <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <div>
            <span class="acc_ctrl"></span>
            <h2>Prayer Requests</h2>
          </div>
        </a>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <dl class="dl-horizontal dl_style1 dl_style1_alt1"> 
              <% @prayerreq.group_by(&:date).each do |date, posts| %>
                <dt class="animated" data-gen="fadeInLeft"><p class="font_16 color-darkblack text_normal"><%= date%></p>
                </dt>
                <% posts.each do |post|%>
                  <dt class="animated" data-gen="fadeInLeft">
                    <%= post.name %>
                  </dt>
                  <dd class="animated" data-gen="fadeInRight"> 
                  <%= post.message%>
                  </dd>
                <%end%> 
              <% end %>   
            </dl> 
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <div>
            <span class="acc_ctrl"></span>
            <h2>Testimonials</h2>
          </div>
        </a>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <dl class="dl-horizontal dl_style1 dl_style1_alt1">
              <% @testimonials.group_by(&:date).each do |date, posts| %>
                <dt class="animated" data-gen="fadeInLeft"><p class="font_16 color-darkblack text_normal"><%= date%></p>
                </dt>
                <% posts.each do |post|%>
                  <dt class="animated" data-gen="fadeInLeft">
                    <%= post.name %>
                  </dt>
                  <dd class="animated" data-gen="fadeInRight"> 
                  <%= post.message%>
                  </dd>
                <%end%> 
              <% end %>     
            </dl>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <div>
            <span class="acc_ctrl"></span>
            <h2>feedback</h2>
          </div>
        </a>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <dl class="dl-horizontal dl_style1 dl_style1_alt1">
              <% @feedback.group_by(&:date).each do |date, posts| %>
                <dt class="animated" data-gen="fadeInLeft"><p class="font_16 color-darkblack text_normal"><%= date%></p>
                </dt>
                <% posts.each do |post|%>
                  <dt class="animated" data-gen="fadeInLeft">
                    <%= post.name %>
                  </dt>
                  <dd class="animated" data-gen="fadeInRight"> 
                  <%= post.message%>
                  </dd>
                <%end%> 
              <% end %>    
            </dl>
          </div>
        </div>
      </div>
    </div> 
    <div class="clearfix"></div>
  </section> 
</div>
<!-- CONTENT BLOCK } -->