<div class="wtow_slider" id="Live_Radio">
    <div id="Banner_Slider" class="owl-carousel owl-theme">
        <!-- <div class="item">
            <div class="banner_over">
                <h1>You too can experience the mighty power of God!</h1>
                <h2>Join the next international fasting Prayer</h2><br>
                <a href="#" class="btn btn-sm btn-danger">Read More</a>
            </div>
            <img src="../assets/slides/power-of-god1.jpg" alt="The Last of us">
        </div> -->
        <% @sliders.each do |slider| %> 
          <div class="item">
            <div class="banner_over">
              <h1><%= slider.name %></h1>
              <h2><%= slider.description %></h2><br>
              <!-- <a href="#" class="btn btn-danger">Read More</a> -->
            </div>
           <%= image_tag slider.slide.url %>
          </div> 
        <% end %>
    </div>
    <div class="clearfix"></div>
</div> 