<div class="floating_menu">
<div class="banner_links">
  <div class="links_nav">
      <nav>
          <ul class="list-unstyled">
              <li>
                  <a href="#" class="scroll_toid" id="Live_Radiolink"><span>live radio</span></a>
                  <span class="link_pop"> 
                    <%= image_tag "radio1.png"%>
                  </span>
              </li>
              <li>
                  <a href="/contacts/new?contact_type=1"><span>Send us</span></a>
                  <span class="link_pop"><%= image_tag "send-us.png"%></span>
              </li>
              <li>
                  <a href="/albums"><span>Jukebox</span></a>
                  <span class="link_pop"><%= image_tag "music1.png"%></span>
              </li>
              <li>
                  <a href="/daily_breads"><span>Daily Bread</span></a>
                  <span class="link_pop"><%= image_tag "daily-bread.png"%></span>
              </li>
              <li>
                 <% if Bible.count != 0 %>
                    <%bible_id = Bible.first.id%>
                    <%path = category_bible_path(0,bible_id)%> 
                    <%else%>
                    <%path = '#'%>
                <%end%>   
                  <a href="<%= path%>"><span>Audio Bible</span></a>
                  <span class="link_pop"><%= image_tag "music-knots.png"%></span>
              </li>
              <li>
                  <a href="/videos"><span>Videos</span></a>
                  <span class="link_pop"><%= image_tag "video1.png"%></span>
              </li>
              <li>
                  <a href="podcast.html"><span>Podcast</span></a>
                  <span class="link_pop"><%= image_tag "podcast1.png"%></span>
              </li>
          </ul>
      </nav>
  </div>
  <div class="links_pill">
  </div>
  <div class="clearfix"></div>
</div>
</div>
