<!-- CONTENT BLOCK { -->
<div class="content_box yellow_box">
	
    <div class="main_head page_head text-center">
    	<h1 class="head_1 animated" data-gen="fadeInUp">Contact Us</h1>
    </div>
    
	<div class="clearfix"></div>
    
	<div class="clearfix"></div>
    
    <section class="block_1">
    	<div class="container-fluid">
        
        <div class="page_cont">
            <section class="section padding_20 margin_t10">
              <ul class="list-icon-items clearfix">
                  <li class="col-md-3 alpha">
                      <a href="mailto:contact@wordtoworldradio.com">
                      <i class="circ large tertiary">
                      <i class="circ pulse"></i>
                      <img src="../assets/icons/email.png" alt="Email"/>
                      </i>
                      <h4>Email</h4>
                      <p>
                      <span class="pseudo-link">contact@wordtoworldradio.com</span>
                      </p>
                      </a>
                   </li>
              
                  <li class="col-md-3">
                    <i class="circ large tertiary">
                    <i class="circ pulse"></i>
                    <img src="../assets/icons/phone.png" alt="Phone"/>
                    </i>
                    <h4>Phone</h4>
                    <p>+91 123456</p>
                  </li>
              
                  <li class="col-md-3">
                      <a target="_blank" href="https://www.facebook.com/pages/WORD-to-WORLD/365402200222007">
                          <i class="circ large tertiary">
                          <i class="circ pulse"></i>
                          <img src="../assets/icons/facebook.png" alt="facebook"/>
                          </i>
                          <h4>Facebook</h4>
                          <p>
                          <span class="pseudo-link">Like us</span>
                          </p>
                      </a>
                  </li>
              
                  <li class="col-md-3">
                      <a target="_blank" href="https://twitter.com/wordtoworld">
                          <i class="circ large tertiary">
                          <i class="circ pulse"></i>
                          <img src="../assets/icons/twitter.png" alt="twitter"/>
                          </i>
                          <h4>Twitter</h4>
                          <p>
                          <span class="pseudo-link">Follow us</span>
                          </p>
                      </a>
                  </li>
              
                  <li class="col-md-3">
                      <a href="#">
                        <i class="circ large tertiary">
                        <i class="circ pulse"></i>
                        <img src="../assets/icons/google-plus.png" alt="google plus"/>
                        </i>
                        <h4>Google Plus</h4>
                        <p>
                        <span class="pseudo-link">Add us</span>
                        </p>
                      </a>
                  </li>
              
                  <li class="col-md-3">
                      <a target="_blank" href="http://www.brothermathewsvergis.com/">
                        <i class="circ large tertiary">
                        <i class="circ pulse"></i>
                        <img src="../assets/icons/web.png" alt="Website"/>
                        </i>
                        <h4>Website</h4>
                        <p>
                        <span class="pseudo-link">Bro. Dr.Mathews Vergis</span>
                        </p>
                      </a>
                  </li>
              
                  <li class="col-md-3">
                      <a href="#">
                      <i class="circ large tertiary">
                      <i class="circ pulse"></i>
                      <img src="../assets/icons/blog.png" alt="blog"/>
                      </i>
                      <h4>Blog</h4>
                      <p>
                      <span class="pseudo-link">Reaching God</span>
                      </p>
                      </a>
                  </li>
              
                  <li class="col-md-3">
                      <a href="http://www.idcf.net/" target="_blank">
                      <i class="circ large tertiary">
                      <i class="circ pulse"></i>
                      <img src="../assets/icons/web.png" alt="web"/>
                      </i>
                      <h4>Connect</h4>
                      <p>
                      <span class="pseudo-link">IDCF USA</span>
                      </p>
                      </a>
                  </li>
              
              </ul>
            </section>
        </div>
        
  		</div>
        
  		<div class="clearfix"></div>
    </section>
    
</div>
<!-- CONTENT BLOCK } -->

</div>
