<!-- BANNER  -->
  <%= render "welcome/banner"%>
<!-- BANNER  -->
<!-- FLOATING MENU  -->
  <%#= render "welcome/floating_menu"%> 
<!-- FLOATING MENU   -->
<!-- CONTENT BLOCK  -->
<div class="content_box">
  <div class="clearfix"></div>
  <img src="../assets/strip.png" class="img-responsive clearfix" alt=""/>
  <div class="clearfix"></div>
  <section class="block_1 player_box">
    <div class="heading animated" data-gen="fadeInDown">
      <h2 class="sub_head1">
        <img src="../assets/internet-radio.png" alt="Radio"/> <span>Internet Radio</span>
      </h2>
    </div>
    <div class="line_devider inverted_line"></div>
    <div class="bordered_boxes">
      <div class="bordered_box col-sm-2 animated hidden-xs" data-gen="fadeInLeft">
        <div class="heading over_line">
          <h3 class="sub_head2">LISTEN NOW</h3>
        </div>
        <div class="box"><br>
          <audio id="audio-player" src="http://208.77.21.33:12310/;" type="audio/mp3" controls="controls"></audio>
        </div>
      </div>
      <div class="bordered_box col-sm-7 animated" data-gen="fadeInUp">
        <div class="box">
         <%# @albums_random.each do |album| %>
          <!-- <img src="<%#= album.cover_url %>" alt="cover" class="img-responsive center-block"/> -->
          <%# end%> 
        </div>
      </div>
      <div class="bordered_box col-sm-3 animated" data-gen="fadeInRight">
        <div class="heading over_line">
          <h3 class="sub_head2">Now Playing</h3>
        </div>
        <div class="box">
          <div class="hidden-xs">
            <div class="radio-side-text">
              <div id="songtitle"></div>
              <div id="status"></div>
              <div id="currentlisteners"></div>
              <div id="nexttitle"></div>
            </div>
          <div>
        </div>
      </div>
  </div>
</section>
<div class="clearfix"></div>
<img src="../assets/strip.png" class="img-responsive clearfix" alt=""/>
<div class="clearfix"></div>
<section class="block_1 light_box">
  <div class="clearfix padding_20 margin_b15"></div>
  <div class="line_devider inverted_line"></div>
    <div class="bordered_boxes">
      <div class="bordered_box col-sm-3 animated" data-gen="fadeInLeft">
        <div class="box">
          <a href="/contacts/new?contact_type=1" class="send_us_link">
            <h5 class="text-center color-red">SEND US YOUR PRAYER REQUEST</h5><br>
            <img src="../assets/icons/send-mail.png" alt="mail" class="img-responsive center-block"/>
          </a>
        </div>
      </div>
      <div class="bordered_box col-sm-9 animated" data-gen="fadeInRight">
        <div class="spl_tabs">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#prayer_req" role="tab" data-toggle="tab">
                  <img src="../assets/prayer-request.png" alt="Prayer request" class="img1"/>
                  <img src="../assets/prayer-request1.png" alt="Prayer request" class="img2"/>
                  <span>PRAYER REQUESTS</span>
              </a>
            </li>
            <li role="presentation">
              <a href="#testimonies" role="tab" data-toggle="tab">
                <img src="../assets/testimonials.png" alt="Prayer request" class="img1"/>
                <img src="../assets/testimonials1.png" alt="Prayer request" class="img2"/>
                <span>TESTIMONIES</span>
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="prayer_req">
              <div class="box">
                <div class="news_scroller">
                  <ul id="prayer-req_slide" class="newstick">
                   <% @prayerreq.each do |contact| %>
                    <li>
                      <div class="list_name"><%= contact.name %></div>
                      <div class="list_cont">
                        <%= contact.message %>
                      </div>
                    </li>
                  <% end %>  
                  </ul>
                <div class="clearfix text-right padding_20">
                  <i class="news_nav newsnav_up" id="prayer-req_prev"></i>
                  <i class="news_nav newsnav_down" id="prayer-req_next"></i>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="testimonies">
                      <div class="box">
                          <div class="news_scroller">
                            <ul id="testimonial_slide" class="newstick">
                              <% @testimonials.each do |contact| %>
                                <li>
                                    <div class="list_name"> <%= contact.name %></div>
                                    <div class="list_cont">
                                      <%= contact.message %>
                                    </div>
                                </li>
                              <% end %>
                            </ul>
                            <div class="clearfix text-right padding_r20">
                              <i class="news_nav newsnav_up" id="testimonial_prev"></i>
                              <i class="news_nav newsnav_down" id="testimonial_next"></i>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
        </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <div class="clearfix"></div>

<section class="block_1">
  <div class="heading animated" data-gen="fadeInDown">
  <h2 class="sub_head1">
    <a href="/albums"><img src="../assets/jukebox.png" alt="Jukebox"/> <span>Jukebox</span></a>
    </h2>
  </div>

  <div class="line_devider inverted_line"></div>

  <div class="clearfix"></div>

  <div class="bordered_boxes">
    <div class="bordered_box col-sm-12">
      <div class="box">
        <div class="slider_cover animated" data-gen="bounceIn">
            <div style="overflow: hidden;" class="frame effects" id="jukebox_Slide">
            <ul style="transform: translateZ(0px) translateX(-2141px); width: 5610px;" class="clearfix">
              <% @albums.each do |album| %>
                <li>
                  <div class="item album_thumb album_style2">
                    <a href="<%= album_path(album.id)%>">
                      <span class="album_img">
                        <img class="lazyOwl" src="<%= album.cover_url %>" alt="Lazy Owl Image">
                        </span>
                        <span class="album_title">
                        <span class="album_name"><%= album.name %></span>
                      </span>
                    </a>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>

          <div class="controls">
          <button class="btn prev"></button>
          <button class="btn next"></button>
          </div>
        <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>

    <div class="clearfix"></div>

    <section class="block_1 bglink_block sect_dailybread">
      <div class="heading animated" data-gen="fadeInDown">
            <h2 class="sub_head1">
                <a href="<%= daily_breads_path%>"><img src="../assets/candle.png" alt="Daily Bread"/> <span>Your Daily Bread</span></a>
            </h2>
        </div>
        <div class="line_devider inverted_line"></div>
        <div class="clearfix"></div>
        <a href="<%= daily_breads_path%>" class="bg_link">
        <img src="../assets/banner/daily-bread.jpg" width="1100" height="260" alt="Daily Bread" class="img-responsive"/>
        </a>
    </section>

    <div class="clearfix"></div>

    <section class="block_1 bglink_block sect_audiobible">
      <div class="heading animated" data-gen="fadeInDown">
            <h2 class="sub_head1">                
              <% if Bible.count != 0 %>
                <%bible_id = Bible.first.id%>
                <%path = category_bible_path(0,bible_id)%>
              <%else%>
                <%path = '#'%> 
              <%end%> 
              <%= link_to image_tag("audio.png")+ "Audio Bible",path%> 
            </h2>
        </div>
        <div class="line_devider inverted_line"></div>
        <div class="clearfix"></div>
        <a href="<%= path%>" class="bg_link">
        <img src="../assets/banner/holy-bible.jpg" width="1100" height="295" alt="Holy Bible" class="img-responsive"/>
        </a>
    </section>

    <div class="clearfix"></div>

    <section class="block_1">
      <div class="heading animated" data-gen="fadeInDown">
            <h2 class="sub_head1">
                <a href="video.html"><span class="font_14 text_bold">Watch Online</span></a>
            </h2>
        </div>
        <div class="line_devider inverted_line"></div>
        <div class="heading sticky_head animated" data-gen="fadeInUp">
            <h2 class="sub_head1">
                <a href="<%= videos_path%>"><img src="../assets/video.png" alt="Audio"/> <span>Videos</span></a>
            </h2>
        </div>

        <div class="bordered_boxes">
      <div class="bordered_box col-sm-12">
              <div class="box">
                  <div class="slider_cover animated" data-gen="bounceIn">
                        <div style="overflow: hidden;" class="frame effects" id="Video_Slide">
                        <ul style="transform: translateZ(0px) translateX(-2141px); width: 5610px;" class="clearfix">
                         <% @videos.each do |video| %>
                            <li>
                                <div  class="item album_thumb">
                                    <span class="album_img">
                                        <img alt="Lazy Owl Image" class="lazyOwl" style="display: block;" src="<%=video.video_url(:thumb)%>">
                                        <a class="album_over" href="<%= videos_path%>"></a>
                                    </span>
                                    <div class="album_title">
                                        <span class="album_name"><%= video.name %></span>
                                    </div>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                        </div>

                        <div class="controls">
                            <button class="btn prev"></button>
                            <button class="btn next"></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
        </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <div class="clearfix"></div>

    <section class="block_1">
      <div class="heading  animated" data-gen="fadeInUp">
            <h2 class="sub_head1">
                <a href="podcast.html"><span class="font_14 text_bold">Listen Online</span></a>
            </h2>
        </div>
        <div class="line_devider inverted_line"></div>
        <div class="heading sticky_head">
            <h2 class="sub_head1">
                <a href="podcast.html"><img src="../assets/podcast.png" alt="podcast"/> <span>Podcast</span></a>
            </h2>
        </div>

        <div class="bordered_boxes">
      <div class="bordered_box col-sm-12">
              <div class="box">

                  <div class="slider_cover animated" data-gen="bounceIn">
                        <div style="overflow: hidden;" class="frame effects" id="Podcast_Slide">
                        <ul style="transform: translateZ(0px) translateX(-2141px); width: 5610px;" class="clearfix">
                            <li>
                                <div class="item album_thumb">
                                    <span class="album_img">
                                      <img alt="Lazy Owl Image" class="lazyOwl" style="display: block;" src="../assets/player/music.jpg">
                                        <a class="album_over" href="#"></a>
                                    </span>
                                    <div class="album_title">
                                      <span class="album_name">AUDIO 2</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item album_thumb">
                                    <span class="album_img">
                                        <img alt="Lazy Owl Image" class="lazyOwl" style="display: block;" src="../assets/player/music.jpg">
                                        <a class="album_over" href="#"></a>
                                    </span>
                                    <div class="album_title">
                                      <span class="album_name">AUDIO 2</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item album_thumb">
                                    <span class="album_img">
                                        <img alt="Lazy Owl Image" class="lazyOwl" style="display: block;" src="../assets/player/music.jpg">
                                        <a class="album_over" href="#"></a>
                                    </span>
                                    <div class="album_title">
                                      <span class="album_name">AUDIO 2</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item album_thumb">
                                    <span class="album_img">
                                        <img alt="Lazy Owl Image" class="lazyOwl" style="display: block;" src="../assets/player/music.jpg">
                                        <a class="album_over" href="#"></a>
                                    </span>
                                    <div class="album_title">
                                      <span class="album_name">AUDIO 2</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item album_thumb">
                                    <span class="album_img">
                                        <img alt="Lazy Owl Image" class="lazyOwl" style="display: block;" src="../assets/player/music.jpg">
                                        <a class="album_over" href="#"></a>
                                    </span>
                                    <div class="album_title">
                                      <span class="album_name">AUDIO 2</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item album_thumb">
                                    <span class="album_img">
                                        <img alt="Lazy Owl Image" class="lazyOwl" style="display: block;" src="../assets/player/music.jpg">
                                        <a class="album_over" href="#"></a>
                                    </span>
                                    <div class="album_title">
                                      <span class="album_name">AUDIO 2</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item album_thumb">
                                    <span class="album_img">
                                        <img alt="Lazy Owl Image" class="lazyOwl" style="display: block;" src="../assets/player/music.jpg">
                                        <a href="#" class="album_over"></a>
                                    </span>
                                    <div class="album_title">
                                      <span class="album_name">AUDIO 2</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div>

                        <div class="controls">
                            <button class="btn prev"></button>
                            <button class="btn next"></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>

        </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

  <div class="clearfix"></div>
</div>
<!-- CONTENT BLOCK  -->
