<!-- CONTENT BLOCK --> 
<div class="content_box yellow_box">
  
    <div class="main_head page_head text-center">
      <h1 class="head_1 animated" data-gen="fadeInUp">Daily Bread</h1>
    </div>
    
    <div class="clearfix"></div>
    
    <section class="block_1 margin_t15 padding_t10">
      <div class="bible_head">
          <div class="bible_chpthead">
              <div class="col-sm-12 search_box_height"> 
                  <div class="page_selector">
                       <%= search_form_for @search,   :id => "search_form"  do |f| %>
                         <%= f.text_field :date_cont , :id  => 'search_box', :readonly => true %>
                        <% end %>
                    </div> 
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        
        <div class="bible_paper bible_norm">
          <div class="bible_page">
              <div class="bible_pageimg"> 
               <% @daily_breads.each do |bread| %>
                <img src="<%= bread.message %>" width="510" height="822" alt=""/>
                
                  <div class="nav_bible">
                      <!-- <a href="#" class="prev_page"></a>
                        <a href="#" class="next_page"></a> -->              
                  </div>
                    <% end %>
                </div>
                <div class="clearfix"></div>
                
                <div class="candles cendle_left">
                    <img src="assets/bible/candle-left.png" width="86" height="554" alt=""/>
                </div>
                <div class="candles cendle_right">
                    <img src="assets/bible/candle-right.png" width="86" height="554" alt=""/>
                </div>
                <div class="bible_player" align="center">
               <div id="jp_container_4" class="jp-video jp-video-370p">
                  <div class="jp-type-playlist">
                    <div id="jquery_jplayer_4" class="jp-jplayer"></div>
                    <div class="jp-gui">
                      <div class="jp-video-play">
                        <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
                      </div>
                      <div class="jp-interface">
                        <div class="jp-progress">
                          <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                          </div>
                        </div>
                        <div class="jp-current-time"></div>
                        <div class="jp-duration"></div>
                        <div class="jp-details">
                          <ul>
                            <li><span class="jp-title"></span></li>
                          </ul>
                        </div>
                        <div class="jp-controls-holder">
                          <ul class="jp-controls">
                           
                            <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                            <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                            <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                            <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                            <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                            <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                          </ul>
                          <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="jp-playlist">
                    </div>
                    <div class="jp-no-solution">
                      <span>Update Required</span>
                      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                  </div>
                </div>
              </div>
            </div> 
                
          </div>
          <div class="clearfix"></div>
      </div>
  </section>
    
</div>
<!-- CONTENT BLOCK }