<!-- CONTENT BLOCK { -->
<div class="content_box gpaper_box">
  
    <div class="main_head page_head text-center">
      <h1 class="head_1 animated" data-gen="fadeInUp">
        <% @contact_type=params[:contact_type]%>
        <% if @contact_type=="1"%>
          New Prayer Request
        <% elsif @contact_type=="2"%>
          New Testimonial
        <% elsif @contact_type=="3"%>
          Feedback 
        <% end %> 
      </h1>
    </div>
    
  <div class="clearfix"></div>
    
    <section class="block_1 over_layer">
        <div class="padding_20">
          <p id="notice"><%= notice %></p>
          <%= simple_form_for @contact, url: contacts_path(contact_type: @contact_type),:html=> { class: 'form-horizontal form_style2' } do |f| %> 
                  <%= f.error_notification %> 
                <div class="form-group">
                    <label class="col-xs-5 col-sm-2 control-label animated" data-gen="fadeInLeft">NAME *</label>
                    <div class="col-xs-7 col-sm-6 animated" data-gen="fadeInRight">
                      <%= f.input :name, required: true,label: false, autofocus: true,input_html: {class: "form-control"},placeholder: "Name" %> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-xs-5 col-sm-2 control-label animated" data-gen="fadeInLeft">EMAIL *</label>
                    <div class="col-xs-7 col-sm-6 animated" data-gen="fadeInRight">  
                      <%= f.input :email, required: true,label: false,input_html: {class: "form-control"},placeholder: "Email" %> 
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-xs-5 col-sm-2 control-label animated" data-gen="fadeInLeft">MESSAGE *</label>
                    <div class="col-xs-7 col-sm-8 animated" data-gen="fadeInRight">
                      <%= f.input :message, as: :text, required: true,label: false,input_html: {class: "form-control"},placeholder: "Your Message Here" %>  
                    </div>
                </div>
                
                <div class="form-group">
                  <div class="colsm-8 col-sm-offset-2">
                    <div class="checkbox animated" data-gen="fadeInRight">
                        <label>
                          <input type="checkbox"> show only to wordtoworldradio team
                        </label>
                    </div> 
                    <%= f.button :submit,"send" , :class =>"btn btn-default margin_t10 animated"%>
                    </div>
                </div> 
          <%end%>
        </div>
        <div class="clearfix"></div>
    </section>
    
</div>
<!-- CONTENT BLOCK } -->