<!-- CONTENT BLOCK { -->
<div class="content_box yellow_box">
  
    <div class="main_head page_head text-center">
      <h1 class="head_1">Audio Bible</h1>
    </div>
    
    <div class="clearfix"> 
        <%= image_tag "banner/holy-bible1.jpg", class: "img-responsive"%>
    </div>
    
    
    <div class="clearfix"></div>
    
    <section class="block_1">
        <div class="padding_20">
        
            <div class="col-sm-4"> 
              <div class="btn-group optn_btn radio_group" data-toggle="butons">
                <% if Category.first.bibles.count!=0%> 
                  <%a = "active" if params[:category_id].to_i == 1 %>
                  <%=link_to  category_bible_path(1,Category.first.bibles.first.id ),remote: true,class: "btn btn-default #{a}"  do %> 
                    OLD TESTAMENT 
                  <%end%> 
                <%end%> 

                <%if Category.last.bibles.count!=0 %>  
                <%b = "active" if params[:category_id].to_i == 2 %>
                  <%=link_to  category_bible_path(2,Category.last.bibles.first.id),remote: true,class: "btn btn-default #{b}"  do %> 
                    New TESTAMENT
                  <%end%> 
                <%end%>
              </div>
            </div>
        
            <div class="col-sm-3">
              <div class="form-group">
                <div class="disp_b">
                    <select class="searchable_select_js placeholder" data-placeholder="BOOK" onChange="window.location.href=this.value"> 
                        <option></option> 
                          <% @bibles.each do |bible| %> 
                              <option value="<%= category_bible_path(params[:category_id],bible.id)%>">
                                <%= bible.name%>
                              </option> 
                          <%end%>  
                    </select>
                </div>
              </div>
            </div>
        
            <div class="col-sm-3">
              <div class="form-group">
                <div class="disp_b">
                    <select class="searchable_select_js placeholder" data-placeholder="CHAPTER">
                    <option></option> 
                      <% @bible.chapters.each_with_index do |chapter,index| %>  
                      <%i = @number_array[index]%>
                         <option value="<%= category_bible_path(params[:category_id],@bible.id) + '?' + 'page' + '=' + i.to_s%>">CHAPTER <%= chapter.chapter_number%></a></option> 
                      <% end %>  
                    </select>
                </div>
              </div>
            </div> 
             
         </div>
              
        <div class="clearfix"></div>
      </section>
    <div class="clearfix"></div>
    
    <section class="block_1">
      <div class="bible_head">
          <div class="bible_chpthead">
            <div class="col-sm-12">

              <% unless @chapters.current_page == 1 %>
                <%= link_to("#{category_bible_path(params[:category_id],@bible.id)}?page=#{@chapters.current_page-1}", class: "previous page ajax_render",remote: true) do%>
                  <%= image_tag "arrowl.png",width: 29, height: 29%>
                <%end%>
              <%else%>
                <%= link_to("#{category_bible_path(params[:category_id],@bible.prev.id)}", class: "previous page",remote: true) do%>
                  <%= image_tag "arrowl.png",width: 29, height: 29%>
                <%end%>
              <%end%>

              <h1><%= @bible.name%> Chapter <%= @chapters.first.chapter_number if @chapters.present?%> Reading</h1> 
              <% if @chapters.current_page < @chapters.total_pages %>
                <%= link_to("#{category_bible_path(params[:category_id],@bible.id)}?page=#{@chapters.current_page+1}",class: "page next",remote: true) do %>
                  <%= image_tag "arrowr.png",width: 29, height: 29%>
                <%end%>
              <%else%>
                 <%= link_to("#{category_bible_path(params[:category_id],@bible.next.id)}",class: "page next",remote: true) do %>
                  <%= image_tag "arrowr.png",width: 29, height: 29%>
                <%end%>
              <%end%> 
            </div> 
            <div class="clearfix"></div>
            </div> 
        </div>
        
        <div class="bible_paper bible_norm">
          <div class="bible_book">
              <div class="bible_pageimg">
                <% @chapters.each do |chapter|%>
                  <div class="col-md-6">
                    <div class="paper <%= cycle('paper_left', 'paper_right') -%>"> 
                    <a href="javascript: void(0)" data-id="<%= chapter.id %>" class="chap_id bible_btn custom_listen">
                      <%= image_tag "listen1.png"%>
                        <span>Listen</span>
                    </a>  
                    <%= image_tag chapter.chapter_image_url, class: "img-responsive",width: 320 %> 
                    </div>
                  </div>
                <%end%> 
                <div class="nav_bible">
                    <% unless @chapters.current_page == 1 %>
                      <%= link_to " ", "#{category_bible_path(params[:category_id],@bible.id)}?page=#{@chapters.current_page-1}", class: "prev_page",remote: true %> 
                    <%else%>
                      <%= link_to " ", "#{category_bible_path(params[:category_id],@bible.prev.id)}", class: "prev_page",remote: true %> 
                    <%end%> 

                    <% if @chapters.current_page < @chapters.total_pages %>
                      <%= link_to " ", "#{category_bible_path(params[:category_id],@bible.id)}?page=#{@chapters.current_page+1}",class: "next_page",remote: true %> 
                    <%else%>
                       <%= link_to " ", "#{category_bible_path(params[:category_id],@bible.next.id)}",class: "next_page",remote: true  %> 
                    <%end%> 
                </div>
                </div>
                <div class="clearfix"></div>
                
                <div class="candles cendle_left"> 
                    <%= image_tag "bible/candle-left.png",width: 86, height: 554%>
                </div>
                <div class="candles cendle_right"> 
                    <%= image_tag "bible/candle-right.png",width: 86, height: 554%>
                </div>
                 <div class="bible_player">
                   <div id="jp_container_6" class="jp-video jp-video-370p">
                    <div class="jp-type-playlist">
                      <div id="jquery_jplayer_6" class="jp-jplayer"></div>
                      <div class="jp-gui">
                        <!-- <div class="jp-video-play">
                          <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
                        </div> -->
                        <div class="jp-interface">
                          <div class="jp-progress">
                            <div class="jp-seek-bar">
                              <div class="jp-play-bar"></div>
                            </div>
                          </div>
                          <div class="jp-current-time"></div>
                          <div class="jp-duration"></div>
                          
                          <div class="jp-controls-holder">
                            <ul class="jp-controls">
                             
                              <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                              <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                        
                              <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                              <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                              <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                              <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                            </ul>
                            <div class="jp-volume-bar">
                              <div class="jp-volume-bar-value"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="jp-playlist">
                      </div>
                      <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                      </div>
                    </div>
                  </div> 
                </div>
                
            </div> 
            <div class="clearfix"></div> 
        </div>
    </section>
    
  <div class="clearfix"></div>
    
</div>
<!-- CONTENT BLOCK } -->
<script> 
$(document).ready(function() {  
  $('#jquery_jplayer_6').jPlayer();
  $(".searchable_select_js").select2();  
}); 
$(".chap_id").click(function() {
  var chapterid = $(this).attr("data-id");
   
      // $("#jquery_jplayer_6").jPlayer("stop");
      $("#jquery_jplayer_6").jPlayer("destroy");
          $.ajax({ 
            type: 'GET',
            url: '/welcome/audio_details',
            data: { 
                     chapter_id: chapterid 
                      },
            success: function(data,status,xhr){

              $('#jquery_jplayer_6').jPlayer({
                ready:function (event) {
                    $(this).jPlayer("setMedia", {
                        mp3:data.chapter_audio.url
                    }).jPlayer("play");   //attemp to play media
                }, 
                supplied:"mp3",
                cssSelectorAncestor: "#jp_container_6"
            }); 
               
            },
            error: function(xhr,status,error){
              console.log(xhr);
               
            }
          }); 
           
        });


</script>