<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
    <%if Bible.count!=0%>
      <%= @bibles.first.name%>
    <%end%>
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">   
    <li>
      <%if @bibles.count!=0 %>          
        <% @bibles.each do |bible| %>
          <%unless bible.chapters.count== 0%>
            <% @first_chapter = bible.chapters.first %>          
            <li><%=link_to bible.name,category_bible_chapter_path(:category_id,bible,@first_chapter)%></li>
          <%else%>
            <li><%#=link_to bible.name, category_bible_chapters_path(:category_id,bible,@first_chapter)%>                
          <%end%>
        <%end%>
      <%else%>
        Nothing found                       
      <%end%>        
    </li>   
  </ul>
</div>
