<div id="chap_aj_render">
  <%= render 'show'%>
</div>
<script type="text/javascript">
   
  $(".ajax_render").live("click", function() {
    $(".ajax_render").html("Page is loading..."); 
    return false;
  });

  $("a.btn-default").live("click", function() {
     alert(1);
  });
 
</script>
<style type="text/css">
  a.custom_listen { 
    margin-top: -13px;
    position: absolute;
    z-index: 1;
}
</style>