<ul class="album_list list-unstyled p-sieve" id="albums_list"> 
	<% if (@albums.empty?) %>
	    <center><p>No albums found.</p></center>
	  <%else%>
	  <% @albums.each do |album| %> 
	    <li class="inspiration animated" data-gen="fadeInLeft"  data-content="#Audio_1">
	        <div class="thumb">
	            <div class="view">
		            <a href="javascript: void(0)" class="button  album_id" data-id="<%= album.id %>">
		              Play
		            </a> 
	            </div>
	            <%= image_tag album.cover_url , :class => "img-responsive" %>
	        </div>
	        <div class="short_de">
	            <h4><a class="colio-lk" href="<%= album_path(album.id)%>"><%= album.name%></a></h4>
	            <p>Singer</p>
	        </div>
	    </li>  
	  <%end%>  
	<%end%>
</ul>
