<style type="text/css">
table {
    background: rgba(0, 0, 0, 0) url("repeates.jpg") repeat scroll 0 0;
}
.table { 
  color: white;
  width: 100%;
}

.playlist
{
  margin-left: 10px;
  margin-right: 10px; 
}

table a:link {
  color: white;
}

/* visited link */
table a:visited {
  color: white;
}

/* mouse over link */
table a:hover {
  color: yellow;
}

/* selected link */
table a:active {
  color: white;
}
</style>
  
<div class="row playlist visible-lg visible-md">
  <div id="current-track-name">
    <marquee scrollamount="8">
      <div id="current-track">
      </div>
    </marquee>
  </div>
</div>

<div class="row playlist visible-lg visible-md">
  <div class="table-responsive"> 
    <table class="table table-condensed">
      <%= form_tag album_path , method: :get do  %>
        <thead>
          <tr> 
            <td><%= link_to "PlayAll", album_path , :class => "btn btn-success "%></td>
            <td><%= submit_tag "play", name: nil, :class => "btn btn-success " %></td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Artist</th>
            <th>Duration</th>
            <th>Size</th>
          </tr>
        </thead>
        <% i = 0%>
        <tbody>
          <%  @album.audios.each do |audio| %>
            <% i=i+1 %>
            <tr>
              <td>  <%= p i %></td>
              <td > <%#= check_box_tag "audio_ids",audio.id,false  %>
              <input  type="checkbox" id="audio_ids_<%= audio.id %>" name="audio_ids[]" value="<%= audio.id %>">
              </td>
              <td>  <%= link_to audio.name, album_path(id: @album.id, audio_ids: audio) %></td>
              <td> <%= audio.artist %></td>
              <td> 5 Minutes </td>
              <td>  4.2 Mb</td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>

<div class="row playlist2 visible-sm visible-xs ">
  <div class="col-md-4">
    <div class="playlist2"> 
      <div id="jp_container_1" class="demo-container">
        <div class="jp-type-playlist">
          <div class="jp-playlist">
            <ul>
              <!--  The method Playlist.displayPlaylist() uses this unordered list -->
              <li></li>
            </ul> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

