<div class="row">
  <div class="col-md-12">
    <div id="jp_container_1" class="jp-video jp-video-270p album_show_player">
      <div class="jp-type-playlist">
      <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div class="jp-gui">
          <!-- <div class="jp-video-play">
            <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
          </div> -->
          <div class="jp-interface interface_album">
            <div class="jp-controls-holder">          
            </div>
              <ul class="jp-controls">
                <li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
                <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
                <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
              </ul>
              <div class="jp-volume-bar">
                <div class="jp-volume-bar-value"></div>
              </div>
              <ul class="jp-toggles"> 
                <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
                <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
                <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
              </ul>
              <div class="jp-progress">
                <div class="jp-seek-bar">
                  <div class="jp-play-bar"></div>
                </div>
              </div>
              <div class="jp-current-time"></div>
              <div class="jp-duration"></div>
              <div class="jp-details"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="hidden-xs">
    <div class="col-md-4">
      <div class="seekbar-system">
        <div id="jp_container_1" class="jp-video jp-video-270p">
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
          <div class="jp-gui">
              <div class="jp-progress">
                <div class="jp-seek-bar">
                  <div class="jp-play-bar"></div>
                </div>
              </div>
              <div class="jp-current-time"></div>
              <div class="jp-duration"></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div> 