<% if (@albums.empty?) %>
    <center><p>No albums found.</p></center>
<%else%>
	 <% @albums.each do |album| %> 
		<li>
		    <div class="item album_thumb">
		        <span class="album_img">
		          <%= image_tag album.cover_url , :class => "lazyOwl" %> 
		            <a class="album_over" href="<%= album_path(album)%>"></a>
		        </span>
		        <div class="album_title">
		          <span class="album_name"><%= album.name%></span>
		        </div>
		    </div>
		</li> 
	<%end%>  
<%end%>