<% content_for :title, "Jukebox" %>

<!-- CONTENT BLOCK { -->
<div class="content_box yellow_box">
    
    <div class="main_head page_head text-center">
        <h1 class="head_1 animated" data-gen="fadeInUp">Jukebox</h1>
    </div>
    <div class="clearfix"></div> 

    <section class="block_1">
      <div class="padding_20 margin_b15 form_style1">
      <div class="col-xs-12">
           
        <%= form_tag(albums_path, :method => "get", class: "form-horizontal", id: "album_search") do %>
          <div class="form-group padding_r20">
              <div class="col-xs-8 col-md-12"> 
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Albums", id: "srch-term" %>
              </div>
              <!-- <div class="col-xs-4 col-md-6">
               <button type="submit" class="btn btn_juke btn-xs btn-default">Search</button> 
              </div> -->
            
          </div>  
        <% end %> 
     

      <script type="text/javascript">
        $(function() { 
        $("#album_search input").keyup(function() {
          $.get($("#album_search").attr("action"), $("#album_search").serialize(), null, "script");
          return false;
        });
      });
      </script>

        </div>
        </div>
     </section>

    
    <div class="audio_albums clearfix">
         <div id="album_render"><%= render 'albums' %></div>
    </div>
    
    <div class="clearfix"></div>            

  
    <div class="pag_unstyled">  
      <ul class="pagination"> 
      <%= will_paginate @album_bottom_pagiantion,renderer: BootstrapPagination::Rails, :page_links => false , remote: true %>

         <%#= will_paginate @album_bottom_pagiantion,renderer: BootstrapPagination::Rails , remote: true %>
     </ul>
    </div>
</div>
<div class="clearfix"></div>
<!-- CONTENT BLOCK } -->  