<% content_for :title, "Jukebox" %> 
<!-- CONTENT BLOCK { Ajax player  -->
<div class="content_box yellow_box"> 
  <div class="main_head page_head text-center">
      <h1 class="head_1 animated" data-gen="fadeInUp">Jukebox</h1>
  </div>
  <div class="clearfix"></div>  

  <section class="block_1">
  <div class="padding_20 margin_b15 form_style1">
      <div class="col-xs-12"> 
        <%= form_tag(albums_path, :method => "get", class: "form-horizontal", id: "album_search") do %>
          <div class="form-group padding_r20">
            <div class="col-xs-8 col-md-12"> 
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Albums", id: "srch-term" %>
            </div> 
          </div>  
        <% end %>  
        </div>
    </div>
   </section>  

  <div class="clearfix"></div>  
  <div class="audio_albums clearfix">
    <div id="album_render"><%= render 'albums' %></div>
  </div> 

  <div>  
     <div class="album_index_player"> 
        <div id="jp_container_1" class="jp-video jp-video-270p audio-index">
          <div class="jp-type-playlist">
          <a class="audio_player-close pull-right" href="javascript: void(0)">
             <%= image_tag "audio-close.png"%>
          </a>
          <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div class="jp-gui">
              <div class="jp-video-play">
                <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a> 
              </div>
              <div class="jp-interface jp-interface-custom">
                <div class="jp-progress">
                    <div class="jp-seek-bar">
                      <div class="jp-play-bar"></div>
                    </div>
                  </div>
                  <div class="jp-current-time"></div>
                  <div class="jp-duration"></div>
                  <div class="jp-details">
                    <ul>
                      <li><span class="jp-title"></span></li>
                    </ul>
                  </div>
                <div class="jp-controls-holder"> 
                  <div class="jp-volume-bar jp-volume-bar-custom">
                    <div class="jp-volume-bar-value"></div>
                  </div>
                  <ul class="jp-controls jp-controls-custom">
                    <li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
                    <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                    <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                    <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
                    <!-- <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li> -->
                    <li><a href="javascript:;" class="jp-mute jp-mute-custom" tabindex="1" title="mute">mute</a></li>
                    <li><a href="javascript:;" class="jp-unmute jp-unmute-custom" tabindex="1" title="unmute">unmute</a></li>
                    <li><a href="javascript:;" class="jp-volume-max jp-volume-max-custom" tabindex="1" title="max volume">max volume</a></li>
                  </ul> 
                  <ul class="jp-toggles jp-toggles-custom"> 
                    <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
                    <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
                    <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                    <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
                  </ul> 
                </div>
                  <div class="jp-type-playlist">
                    <div class="jp-playlist">
                      <ul> 
                        <li></li>
                      </ul> 
                    </div>
                  </div> 
              </div>
            </div>
          </div>
        </div> 
    </div>  
    <div class="visible-sm">
      <div class="bar-sm">
        <%= render 'player' %>
      </div>
    </div>  
    <div class="visible-xs">
      <div class="container-fluid">
        <div class="bar-sm">
          <%= render 'mobile' %>
        </div>
      </div>
    </div> 
  </div> 
  <div class="pag_unstyled">  
    <ul class="pagination">
    <%# if @album_bottom_pagiantion.current_page < @album_bottom_pagiantion.total_pages %>
    <!-- <h1><%#= link_to "Next", "#{albums_path}?page=#{@album_bottom_pagiantion.current_page+1}" %></h1>
    <%#end%>
    <%# unless @album_bottom_pagiantion.current_page < @album_bottom_pagiantion.total_pages %>
    <h1><%#= link_to "Prev", "#{albums_path}?page=#{@album_bottom_pagiantion.current_page-1}" %></h1>
    <%#end%> -->
    <%= will_paginate @album_bottom_pagiantion,renderer: BootstrapPagination::Rails, :page_links => false , remote: true %>

       <%#= will_paginate @album_bottom_pagiantion,renderer: BootstrapPagination::Rails , remote: true %>
   </ul>
  </div>
</div>
 <!-- CONTENT BLOCK } --> 
  
  
<script type="text/javascript">  
$(document).ready(function() {

  $('.album_index_player').hide(); 
  $("#album_search input").keyup(function() {
          $.get($("#album_search").attr("action"), $("#album_search").serialize(), null, "script");
          return false;
        });

    $('body').on("click",".album_id",function(){
      $('#albums_list li').removeClass('colio-active-item');
      $(this).closest( "li" ).addClass('colio-active-item');

    var albumid = $(this).attr("data-id");  
    $("#jquery_jplayer_1").jPlayer("destroy");
    var myPlaylist = new jPlayerPlaylist({
    jPlayer: "#jquery_jplayer_1",
    cssSelectorAncestor: "#jp_container_1"
    }, 
    [
   
    ], 
  {
      playlistOptions: {
      autoPlay: false,
      enableRemoveControls: true,
      loopOnPrevious: false,
      shuffleOnLoop: false,
       addTime: 'fast'

  },
      supplied: "ogv, m4v, oga, mp3",
      preload: "auto",
     solution: "html,flash",
    });
          $.ajax({ 
            type: 'GET',
            url: '/welcome/album_details',
            data: { 
                     album_id: albumid 
                      },
            success: function(data){
              $('.album_index_player').show();
              $(window).scrollTop($(window).scrollTop()+100);
              var poster_url = data.cover.url;
              $.each(data.audios, function(index,value){ 
                  myPlaylist.add({ 
                      artist: value.artist,
                      title: value.name,
                      mp3: value.audio.url ,
                      poster: poster_url
                  });
              })
              
            }
   
          });  
           
      });

  $('.audio_player-close').click(function(){
    $("#jquery_jplayer_1").jPlayer("destroy");
    $('.album_index_player').hide();
    $(window).scrollTop($(window).scrollTop());

  });

   //Initialize Original height of content_box
    var $content_box = $('.content_box');
    var content_box_height = $('.content_box').height(); 
    // "colio" plugin
    $('.audio_albums .album_list').colio({
      id: 'demo_1',
      theme: 'black',
      placement: 'inside',
      onExpand: function(){
        $content_box.height( content_box_height + $(this).height() );
      },
      onCollapse: function(){
        $content_box.height( content_box_height );
      }
    }); 

}); 
</script> 
  