<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @friend.friend_email %></h1>
    <p>
       We are from word2wordradio, Your friend <h3><%= @friend.name %></h3> inviting you to visit the website <%= @url %><br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p> Have a great day!</p>
  </body>
</html>