Hi, <%= @friend.friend_email %>
===============================================
 
We are from word2wordradio, Your friend <%= @friend.name %> inviting ypu to visit the website <%= @url %>
 
To login to the site, just follow this link: <%= @url %>.
 
 have a great day!
