<div class="wtowmodal ">
<div>
<div class="modal-content">
    <div class="modal-header"> 
        <h4 class="modal-title"><strong>Login</strong></h4>
    </div>
    
    <div class="modal-body">
    <p class="signin_errors danger"></p>
    <div class="container-fluid">
        <div class="col-md-12"> 
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),:html=> { class: 'form_style2' }) do |f| %>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
               <%= f.input :email, required: true,label: false, autofocus: true,input_html: {class: "form-control"},placeholder: "Email" %> 
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <%= f.input :password, required: false,label: false,input_html: {class: "form-control"}%> 
            </div>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <div class="form-group">
            <div class="row"><%= f.button :submit, "Log in",class: "btn btn-default margin_t10" %></div>
            </div>
            <div class="clearfix padding_t10"> 
            </div> 
          <%end%> 
        </div> 
        <div class="clearfix"></div>
    </div>
    </div>
</div>
</div>
</div>
