<div> 
        
<div class="row ">

  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <div>
        <center>
          <%= form_tag(category_bible_chapter_path(0,params[:bible_id],params[:id]), method:  "get", id: "search-form") do %>
         <%= text_field_tag :search, params[:search], placeholder: "Search bibles" %>
          <%#= submit_tag "Search", :name => nil %>
      <% end %>
        </center>
      </div>
      <div class="col-md-9">
      
          <div class="btn-group">           
              <button type="button" class="btn btn-default">
                <%= "-------Select Type-------" %>
              </button>
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
              
              <li><%=link_to "All", category_bible_chapter_path(:category_id=> 0,:bible_id=>Bible.first,:id=>Chapter.first)%></li>
              <% if Category.first.bibles.count!=0%>
                <%if Category.first.bibles.first.chapters.count!=0 %>
                  <li><%=link_to "Old", category_bible_chapter_path(:category_id=> 1,:bible_id=>Category.first.bibles.first,:id=>Category.first.bibles.first.chapters.first)%></li>
                <%end%>
              <%end%>
              
              <%if Category.last.bibles.count!=0 %> 
                <%if Category.last.bibles.first.chapters.count!=0 %>  
                <li><%=link_to "New", category_bible_chapter_path(:category_id=> 2,:bible_id=>Category.last.bibles.first,:id=>Category.last.bibles.first.chapters.first)%></li> 
                <%end%>
              <%end%>
              <%# @categories.each do |category| %>

                <li><%#=link_to category.name, category_bible_chapter_path(:category_id=> category.id,:bible_id=>Category.last.bibles.first,:id=>Category.last.bibles.first.chapters.first)%></li>
              <%#end%>              
              </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
              <%= @bible.name%> <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
              <ul class="dropdown-menu" role="menu">
                 <%#= form_tag(bibles_path, method:  "get", id: "search-form") do %>
                   <%#= text_field_tag :search, params[:search], placeholder: "Search bibles" %>
                    <%#= submit_tag "Search", :name => nil %>
                 <%# end %>
                <li>

        <%if @bibles.count!=0 %>          
          <% @bibles.each do |bible| %>
            <%unless bible.chapters.count== 0%>
              <% @first_chapter = bible.chapters.first %>
              
              <li><%=link_to bible.name,category_bible_chapter_path(params[:category_id],bible,@first_chapter)%></li>           
            <%end%>
          <%end%>                
        <%end%>             
                    
                </li>   
              </ul>
          </div>
      
      
      </div>

      <div class="col-md-3">  
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
             <%= @chapter.chapter_number%> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
             <li><%= render 'bibles/show'%></li>
            </ul>
          </div>          
      </div>
    </div>
  </div>  
  </div>   
    <div class="col-md-2" >      
    </div>
</div>



