<%= simple_form_for(@chapter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :chapter_number %>
    <%= f.file_field :chapter_image %>
    <%= f.file_field :chapter_audio %>
    <%= f.association :bible %>
    <%= f.association :admin %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
