<% if @bibles.count != 0 %>   
  <% if @chapter.id == @bible.chapters.last.id %> 
    <% if @bible.next.chapters.count == 0 %>        
      <%= link_to( image_tag('arrowr.png'), category_bible_chapter_path(params[:category_id],@bibles.first,@bibles.first.chapters.first),class: "next_page" )%>
    <%elsif @chapter == @bibles.last.chapters.last %>
      <%= link_to( image_tag('arrowr.png'), category_bible_chapter_path(params[:category_id],@bibles.first,@bibles.first.chapters.first),class: "next_page" )%>                
    <%else%>
      <%= link_to( image_tag('arrowr.png'), category_bible_chapter_path(params[:category_id],@bible.next,@chapter.next),class: "next_page" )%>       
    <%end%>
  <%else%>     
    <%= link_to( image_tag('arrowr.png'), category_bible_chapter_path(params[:category_id],@bible,@chapter.next),class: "next_page" )%>   
  <%end%>
<%end%>
 