<% if @bibles.count != 0 %> 
  <% if @chapter.id == @bible.chapters.first.id %>
    <%if @bible.prev.chapters.count== 0 %>
      <%= link_to( image_tag('arrowl.png'), category_bible_chapter_path(params[:category_id],Bible.order(id: :desc).offset(1).first, @chapter.prev),class: "prev_page" )%>        
    <% elsif @chapter == @bibles.first.chapters.first && @bibles.last.chapters.last.present?%>
      <%= link_to( image_tag('arrowl.png'), category_bible_chapter_path(params[:category_id],@bibles.last,@bibles.last.chapters.last),class: "prev_page" )%>                 
    <%else%>
      <%= link_to( image_tag('arrowl.png'), category_bible_chapter_path(params[:category_id],@bible.prev,@chapter.prev),class: "prev_page" )%>          
    <% end %>
  <%else%>
    <%= link_to( image_tag('arrowl.png'), category_bible_chapter_path(params[:category_id],@bible, @chapter.prev),class: "prev_page" )%>         
  <%end%>     
<%end%>