<div class="row">
	<div class="col-md-2 bible">		
	</div>
	<div class="col-md-1 ">
	</div>
	<div class="col-md-6 book">
		<p id="notice"><%= notice %></p>
		<center>
		<h3>Chapters Of <%= @bible.name%></h3>
			<strong>Chapter number:</strong>
		  <%= @chapter.chapter_number %>
		</center>
		<p>
		 <%= link_to bible_chapter_path(@bible, @chapter.prev),class: "btn btn-default" do %>		
    		<i class="glyphicon glyphicon-chevron-left"></i>
		<% end %>
		<%= link_to bible_chapter_path(@bible, @chapter.next),class: "btn btn-default pull-right" do %>	
    		<i class="glyphicon glyphicon-chevron-right"></i>
		<% end %>		  
		  <%= image_tag @chapter.chapter_image_url, class: "img-responsive" %>
		  <%= link_to bible_chapter_path(@bible, @chapter.prev),class: "btn btn-default" do %>		
    		<i class="glyphicon glyphicon-chevron-left"></i>
		<% end %>
		<%= link_to bible_chapter_path(@bible, @chapter.next),remote: true,class: "btn btn-default pull-right" do %>	
    		<i class="glyphicon glyphicon-chevron-right"></i>
		<% end %>
		</p>
		<p>		  
		  <%= audio_tag @chapter.chapter_audio %>
		</p>		
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-2">		
	</div>
</div>



