<div class="content_box yellow_box"> 
    <div class="main_head page_head text-center">
      <h1 class="head_1">Audio Bible</h1>
    </div> 
    <div class="clearfix"> 
       <%= image_tag "banner/holy-bible1.jpg", class: "img-responsive"%>
    </div>  
    <div class="clearfix"></div> 
    <section class="block_1">
        <div class="padding_20"> 
          <div class="col-sm-4">
              <div>
                   
                    <% if Category.first.bibles.count!=0%>
                      <%if Category.first.bibles.first.chapters.count!=0 %>
                         <%=link_to  category_bible_chapter_path(:category_id=> 1,:bible_id=>Category.first.bibles.first,:id=>Category.first.bibles.first.chapters.first)  do %> 
                          OLD TESTAMENT 
                         <%end%>
                      <%end%>
                    <%end%> 
                  
                   
                   
                     <%if Category.last.bibles.count!=0 %> 
                      <%if Category.last.bibles.first.chapters.count!=0 %>  
                      <%=link_to "New TESTAMENT", category_bible_chapter_path(:category_id=> 2,:bible_id=>Category.last.bibles.first,:id=>Category.last.bibles.first.chapters.first)%> 
                      <%end%>
                    <%end%>
                   
              </div>
            </div>

            <div class="col-sm-3">
            <div class="form-group">
              <div class="disp_b">
                  <select class="searchable_select_js placeholder" data-placeholder="BOOK" onChange="window.location.href=this.value"> 
                      <option></option>
                      <%if @bibles.count!=0 %>          
                        <% @bibles.each do |bible| %>
                          <%unless bible.chapters.count== 0%>
                            <% @first_chapter = bible.chapters.first %> 
                            <option value="<%= category_bible_chapter_path(params[:category_id],bible,@first_chapter)%>"><%= bible.name%></option>
                                      
                          <%end%>
                        <%end%>                
                      <%end%>  
                  </select>
              </div>
            </div>
            </div> 

            <div class="col-sm-3">
            <div class="form-group">
              <div class="disp_b">
                  <select class="searchable_select_js placeholder" data-placeholder="CHAPTER" onChange="window.location.href=this.value">
                  <option></option>
                    <% @bible.chapters.each do |chapter| %> 
                       <option value="<%= category_bible_chapter_path(params[:category_id],@bible,chapter)%>">CHAPTER <%= chapter.chapter_number%></option> 
                    <% end %>  
                  </select>
              </div>
            </div>
            </div>
            
            <div class="col-sm-2">
               <!-- <div class="form-group form_style1 margin_t5">
                  <button class="btn btn_juke btn-xs btn-default btn-block" type="submit">Go to Page</button>
                 </div> -->
            </div>  
      </div> 
      <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
    
    <section class="block_1">
        <div class="bible_head">
          <div class="bible_chpthead">
              <div class="col-sm-12">
                  <%= render 'prev'%>
                  <h1><%= @bible.name%> Chapter <%= @chapter.chapter_number%> Reading</h1>
                  <%= render 'next'%>
              </div>
              <div class="clearfix"></div>
          </div> 
        </div>
        
        <div class="bible_paper bible_norm">
          <div class="bible_page"> 
                <div class="bible_pageimg"> 
                  <% if @bible.chapters.count == 0 %>      
                    <%= image_tag "images.png" %>
                  <%else%>
                    <%= image_tag @chapter.chapter_image_url, class: "img-responsive",width: 510, height: 790%>
                  <%end%>
                  <div class="nav_bible">
                    <%= render 'prev'%>
                    <%= render 'next'%>              
                  </div>               
                </div>
                <div class="clearfix"></div>
                
                <div class="candles cendle_left">
                  <%= image_tag "bible/candle-left.png",width: 86, height: 554%> 
                </div>
                <div class="candles cendle_right">
                  <%= image_tag "bible/candle-right.png",width: 86, height: 554%> 
                </div>
                <div class="bible_player">
                   <div id="jp_container_6" class="jp-video jp-video-270p">
                    <div class="jp-type-playlist">
                      <div id="jquery_jplayer_6" class="jp-jplayer"></div>
                      <div class="jp-gui">
                        <div class="jp-video-play">
                          <a href="javascript:;" class="jp-video-play-icon" tabindex="1">play</a>
                        </div>
                        <div class="jp-interface">
                          <div class="jp-progress">
                            <div class="jp-seek-bar">
                              <div class="jp-play-bar"></div>
                            </div>
                          </div>
                          <div class="jp-current-time"></div>
                          <div class="jp-duration"></div>
                          <div class="jp-details">
                            <ul>
                              <li><span class="jp-title"></span></li>
                            </ul>
                          </div>
                          <div class="jp-controls-holder">
                            <ul class="jp-controls">
                             
                              <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                              <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                        
                              <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                              <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                              <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                              <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                            </ul>
                            <div class="jp-volume-bar">
                              <div class="jp-volume-bar-value"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="jp-playlist">
                      </div>
                      <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                      </div>
                    </div>
                  </div> 
                </div>
                
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    
  <div class="clearfix"></div>
    
</div>
<script> 
$(document).ready(function() {  
  $(".searchable_select_js").select2();  
});
</script>
