// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.float {
  float: left;
  }
  
.float p {
   text-align: center;
   }

.bar
{
	
  position: relative;
  vertical-align: top;
  height: 60px;
  padding:13px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #656571;
  border: 0;
  cursor: pointer;
  height:70px;
  box-shadow: inset 0 -2px #e2b607;
   margin-left: 14px; 
   margin-right: 14px;
}
.current-text
{
 	
 	color: rgb(255, 255, 255);
   margin-left: 25px;
	 
}
.visible-lg.visible-md.player_skins { 
    margin: 10px;
    padding: 13px;
    position: initial;
    margin-bottom: 0;
}
#current {
     background: rgba(0, 0, 0, 0) url("repeates.jpg") repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
    box-sizing: border-box;
    height: 100%;
    padding: 10px 0;
}
.skin-img {
    height: 280px !important;
    width: 100%;
}
.mobile
{
	
	margin-bottom:150px;
}

.bar-sm
{
	
	position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding:13px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #656571;
  border: 0;
  cursor: pointer;
  height:70px;
  box-shadow: inset 0 -2px #e2b607;


}


nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */


 
.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

#current-track-name{
  font-size: 20px;
  color: yellow;
  background-color: #656571;
  margin-left: 0px;
  margin-right: 0px;
  text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px, rgb(255, 128, 0) 0px -10px 20px, rgb(255, 0, 0) 0px -18px 40px;
}

th
{
color:#FFCC00;
}

.carousel {
    height: 100%;
    width: 100%;
   
}
.carousel .item {
    width: 100%;
    height: 300px;
    background-color: #FFE2AA;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 300px;
}
@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slide {

  float: left;
  overflow: auto;

}
.album_show_player{
  width: 100% !important;
  
}
.interface_album{
   margin-top: -22px;
}

 
.audio_player-close.pull-right > img {
    background-color: turquoise;
    border-radius: 20px;
    margin-top: 2px;
}
div.audio-index{
  margin: auto;
}

.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-control.left,.carousel-control.right {background-image:none;}

div.jp-video div.jp-type-playlist ul.jp-controls-custom {
    margin-left: 194px !important; 
}

div.jp-video ul.jp-toggles-custom { 
    right: 250px !important;
    top: 11px !important; 
}

div.jp-video a.jp-mute-custom, div.jp-video a.jp-unmute-custom {
    left: -174px !important;
}
div.jp-video a.jp-volume-max-custom {
    left: -91px !important;
}
div.jp-video div.jp-volume-bar-custom {
    left: -155px !important;
    top: 22px !important;
}

div.jp-interface-custom {
    background-color: black !important; 
}

div.jp-details, div.jp-playlist {
    background-color: #ccc !important; 
}