/* Colio - Basic Styles
================================================== */
.colio { position:relative; height:0; clear:both; overflow:hidden;}
.colio-container { padding:10px 0; height:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.colio-content { display:none; overflow:hidden;}
.colio-close,
.colio-prev,
.colio-next { outline:none; -webkit-tap-highlight-color:rgba(0,0,0,0);}
.colio-no-prev,
.colio-no-next { cursor:default; opacity:0.2;}
/* navigation, close */

.colio-close { position:absolute; top:10px; right:10px;}
.colio-navigation { position:absolute; top:10px; left:10px;}
.colio-navigation a { margin-right:5px;	}
/* placement */

.colio-placement-inside,
.colio-placement-before { margin-bottom:20px;}
.colio-placement-after { margin-top:20px; margin-bottom:20px;}

/* Colio - Black Theme
================================================== */


/* container */

.colio-theme-black { margin-left:10px; margin-right:10px;}
.colio-theme-black .colio-container { background:url(repeates.jpg); border-radius:10px; box-shadow:0px 0px 10px rgba(0,0,0,.5) inset;}

/* colio close */

.colio-theme-black .colio-close span { display:inline-block; width:20px; height:20px; text-indent:-9999px;}
.colio-theme-black .colio-close { position:absolute; top:16px; right:16px;}
.colio-theme-black .colio-close span { background:url(audio-close.png) no-repeat;}
.colio-theme-black .colio-close:hover { opacity:0.8;}
/* colio navigation */

.colio-theme-black .colio-navigation span { display:inline-block; width:24px; height:24px; text-indent:-9999px;}
.colio-theme-black .colio-navigation { position:absolute; top:60px; left:60px;}
.colio-theme-black .colio-navigation a { float:left; padding:5px; margin-right:5px; background:#ff5452; -webkit-transition:background .1s; -moz-transition:background .1s; -o-transition:background .1s; transition:background .1s;}
.colio-theme-black .colio-navigation a:hover { background:#555;}
.colio-theme-black .colio-prev span { background:url(controls.png) no-repeat 0 0;}
.colio-theme-black .colio-next span { background:url(controls.png) no-repeat -24px 0;}
.colio-theme-black .colio-no-prev,
.colio-theme-black .colio-no-next { background:#555!important;}
