// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.jp-video-360p {
    margin-left: 12px;
    margin-right: 25px;
    width: 98%;
}

ul.jp-toggles-video li a { 
    margin-right: 250px; 
}

div.video_player_h_s {
    background: rgba(0, 0, 0, 0) url("repeates.jpg") repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
    box-sizing: border-box;
    height: 100%;
    padding: 10px 0;
} 
 

video#jp_video_1 {
width: 100% !important;
}
.player-close.pull-right > img {
    margin: -5px -22px -22px;
    position: absolute;
     
}
#jquery_jplayer_3 {
    height: 100% !important;
    width: 100% !important;
}