/*!
 * WORD TO WORLD RADIO.COM
 * Author					nibos
 * Version					1.0
 * Date created				14/10/2014
 * Last modified			01/12/2014
 */
 
 /* Theme color 
-------------------------------------------------- 
 base black			:		#707277;
 dark Black			:		#46494e;
 Grey				:		#bcbcbc;
 Grey(light)		:		#eaeaea;
 Grey(extra light)	:		#f1f1f1;
 
 Success			:		#59a43c;
 Warning			:		#f37325;
 Danger				:		#dc4c4c;
 Alert				:		#eeb546;
 Primary Blue		:		#168ed1;
 Info				:		#43ccf7;
 Purple				:		#7d75b7;
 
 */
 
/* GENERAL
-------------------------------------------------- */
a:hover,
a:active,
a:focus,
button:focus,
button:active,
button:hover{ outline:0; text-decoration:none;}
::selection{ background:#168ed1; color:#fff;}
::-moz-selection{ background:#168ed1; color:#fff}
/**:before, *:after{ -webkit-box-sizing:initial; -moz-box-sizing:initial; box-sizing:initial;}*/
body{ margin:0; padding:0; background:url(main-bg.jpg) top center repeat-x fixed #eaa440;}

/*alignment*/
.margin_t5{ margin-top:5px;}
.margin_t10{ margin-top:10px;}
.margin_t15{ margin-top:15px;}
.margin_r15{ margin-right:15px;}
.margin_b15{ margin-bottom:15px;}
.margin_l15{ margin-left:15px;}
.padding_r0{ padding-right:0;}
.padding_0{ padding:0!important;}
.float-right{ float:right;}
.float-left{ float:left;}
.centered{ margin:0 auto; float:none;}

/*text color*/
.color-darkblack{ color:#222;}
.color-yellow{ color:#f7c231;}
.color-red{ color:#800000;}

/*text style*/
.text_light{ font-weight:300;}
.text_normal{ font-weight:400;}
.text_semibold{ font-weight:600;}
.text_bold{ font-weight:700;}
.text-center{ text-align:center;}
.text-right{ text-align:right;}
.letter_spc_norm{ letter-spacing:-.5px;}

.font_12{ font-size:12px;}.font_13{ font-size:13px;}.font_14{ font-size:14px;}.font_15{ font-size:15px;}.font_16{ font-size:16px;}.font_17{ font-size:17px;}.font_18{ font-size:18px;}.font_19{ font-size:19px;}.font_20{ font-size:20px;}.font_21{ font-size:21px;}.font_22{ font-size:22px;}.font_23{ font-size:23px;}.font_24{ font-size:24px;}

h1,h2,h3{ letter-spacing:-.3px;}
.disp_inlineb{ display:inline-block}.disp_b{ display:block;}.disp_inline{ display:inline;}

.main_header .navbar-nav > li.active > a,
.main_header .navbar-nav > li > a:hover,
.heading .sub_head2,
.red_grad{background:#af302c;background:-moz-linear-gradient(top,#af302c 0,#951b1b 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#af302c),color-stop(100%,#951b1b));background:-webkit-linear-gradient(top,#af302c 0,#951b1b 100%);background:-o-linear-gradient(top,#af302c 0,#951b1b 100%);background:-ms-linear-gradient(top,#af302c 0,#951b1b 100%);background:linear-gradient(to bottom,#af302c 0,#951b1b 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#af302c', endColorstr='#951b1b', GradientType=0);}
.border_grad1{border-width:1px;border-style:solid;-webkit-border-image:-webkit-gradient(linear,0 0,0 100%,from(#d0b86f),to(rgba(0,0,0,0))) 1 100%;-webkit-border-image:-webkit-linear-gradient(#d0b86f,rgba(0,0,0,0)) 1 100%;-moz-border-image:-moz-linear-gradient(#d0b86f,rgba(0,0,0,0)) 1 100%;-o-border-image:-o-linear-gradient(#d0b86f,rgba(0,0,0,0)) 1 100%;border-image:linear-gradient(to bottom,#d0b86f,rgba(0,0,0,0)) 1 100%}
.border_grad1.border_right{ border-left:none;}
	 
	 
.main_header .navbar-nav > li.active > a,
.main_header .navbar-nav > li > a:hover,
.heading .sub_head2,
.shadow_in{box-shadow:0px 0px 5px rgba(0,0,0,.3) inset;-webkit-box-shadow:0px 0px 5px rgba(0,0,0,.3) inset; -moz-box-shadow:0px 0px 5px rgba(0,0,0,.3) inset;}

/* HEADER
-------------------------------------------------- */
.main_header{ position:relative; z-index:1;}
.main_header .menu_wrap{ position:relative;}
.main_header .navbar-default{ border:none; margin:0;}
.main_header .header_top{ min-height:184px; position:relative; z-index:5;}
.main_header .header_top .logo{ padding:10px 30px 0 30px;}
.main_header .navbar-nav{ text-transform:uppercase;}
.main_header .navbar-nav,
.main_header .navbar-nav.navbar-right:last-child{ margin-right:80px;}
.main_header .navbar-nav > li > a{ background:#f2c57b; margin-left:1px; padding:5px 15px; position:relative; font-size:13px; font-weight:600; -webkit-border-top-left-radius:6px; -webkit-border-top-right-radius:6px; -moz-border-radius-topleft:6px; -moz-border-radius-topright:6px;border-top-left-radius:6px; border-top-right-radius:6px;}
.main_header .navbar-nav > li.active > a,
.main_header .navbar-nav > li > a:hover{ padding:9px 15px; font-weight:600; margin-top:-8px;}
.main_header .navbar-nav > li > a,
.main_header .navbar-nav > li.active > a,
.main_header .navbar-nav > li > a:hover,
.main_header .navbar-nav > li.active > a:hover{transition:all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -moz-transition:all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -webkit-transition:all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -o-transition:all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}
.main_header .navbar-nav,
.main_header .navbar-nav.navbar-right:last-child{}
.sticky_hd .main_header .navbar-collapse{ max-height:140px; position:relative; z-index:5;}

.main_header .header_anim{ position:absolute; display:inline-block; right:0; top:0; width:600px; height:100%; overflow:hidden;}
.main_header .header_anim .header_animin{ display:block; position:relative; height:100%; width:100%;}
.main_header .god{ position:absolute; top:0; right:140px; z-index:4;}
.main_header .glow{ position:absolute; top:-220px; right:-80px; z-index:1;}
.main_header .dove1{ position:absolute; top:30px; left:0; z-index:2;}
.main_header .dove2{ position:absolute; top:70px; left:170px; z-index:2;}

/*Header Normal*/
.sticky_hd .main_header{}
.sticky_hd .main_header{ position:fixed; top:0; left:0; z-index:999; width:100%;}
.sticky_hd .main_header .menu_wrap{ background:url(header-bg.jpg) right top no-repeat #a34714;}
.sticky_hd .main_header .container{ margin:0 auto;}
.sticky_hd .main_header .navbar-default{ background:none;}
.sticky_hd .hd_height{ height:215px;}

/*Header Stick*/
.sticky_hd.sticky_hd_shrink .main_header .navbar{}
.sticky_hd.sticky_hd_shrink .main_header .header_top{ float:left;}
.sticky_hd.sticky_hd_shrink .main_header .navbar-collapse{box-shadow:0px 2px 2px rgba(0,0,0,.1);}

.scroll_head .sticky_hd.sticky_hd_shrink .main_header .menu_wrap{}

.sticky_hd .anim_height,
.sticky_hd.sticky_hd_shrink .anim_height{-webkit-transition:height 0.3s; -moz-transition:height 0.3s; transition:height 0.3s;}
.sticky_hd .anim_head,
.sticky_hd.sticky_hd_shrink .anim_head,
.floating_menu,
.floating_menu.stuck,
.banner_links,
.floating_menu.stuck .banner_links{transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -moz-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -webkit-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -o-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}
.sticky_hd.sticky_hd_shrink .main_header .navbar-nav{ margin-top:109px;}

/* Animated Lyrics */
.animated_lyrics{ position:absolute; bottom:5px; left:0; width:425px; padding:0 15px; text-indent:0;}
.sticky_hd.sticky_hd_shrink .animated_lyrics{ text-indent:-9999px;}
.animated_lyrics h1{ font-size:15px; font-weight:400; color:#fff; text-align:center; color:#ffe6b2;}


/* BANNER
-------------------------------------------------- */
.wtow_slider{ position:relative; margin-bottom:-1px; background:#eaa440;}
.wtow_slider .owl-carousel{ margin-bottom:-1px;}
.wtow_slider .item{ position:relative;}
.wtow_slider .banner_over{ position:absolute; width:auto; min-width:10%; max-width:35%; margin:2% 0 0 11%; z-index:1;}
.wtow_slider .banner_over h1{ font-weight:300; color:#982222;}
.wtow_slider .banner_over h2{ background-color:rgba(0,0,0,.2); padding:15px; color:#fff; display:inline-block; font-weight:400; letter-spacing:-.5px;}
.wtow_slider .banner_over .btn.btn-sm{ border-radius:3px; font-size:10px; text-transform:uppercase;}
.wtow_slider .owl-theme .owl-controls{ position:absolute; margin:0; padding:0; z-index:2; bottom:35px; left:11%;}
.wtow_slider .owl-theme .owl-controls .owl-page span{ margin:2px; width:8px; height:8px; background:#fdd28c; background-color:rgba(250,210,140,.7); border-radius:10px;}
.wtow_slider .owl-theme .owl-controls .owl-page.active span{ background:#aa6a3c;}

/* PAGE
-------------------------------------------------- */
.line_devider{ height:1px; width:100%; clear:both; background:url(normal_line.png); background-size:100%; background-repeat:no-repeat;}
.line_devider.inverted_line{ background:url(inverted_line.png);}
.down_arrow,
.main_header .navbar-nav > li.active > a:after,
.heading .sub_head2:after,
.album_thumb .album_title:after{ width:34px; height:6px; display:block; position:absolute; right:0px; left:0; margin:0 auto; bottom:-6px; content:""; background:url(arrow-tb.png) bottom center no-repeat;}

.dl-horizontal.dl_style1{ font-size:14px; padding:0 20px;}
.dl-horizontal.dl_style1 dt{ color:#a32525;}
.dl-horizontal.dl_style1 dd{ font-size:13px;}
.dl-horizontal.dl_style1 dd:before,
.dl-horizontal.dl_style1 dd:after{ content:'"'; display:inline-block; font-size:18px; line-height:13px;}
.dl-horizontal.dl_style1 dd:empty:before,
.dl-horizontal.dl_style1 dd:empty:after{ content:"";}
.dl-horizontal.dl_style1 dt,
.dl-horizontal.dl_style1 dd{ padding-bottom:10px;}
.dl-horizontal.dl_style1.dl_style1_alt1{ font-size:15px;}
.dl-horizontal.dl_style1.dl_style1_alt1 dd{ font-size:14px; padding-top:0px; padding-bottom:30px;}
.dl-horizontal.dl_style1.dl_style1_alt1 dt{ text-overflow:clip; white-space:normal;}

.newstick{ margin:0 auto; padding:0;}
.newstick li{ overflow:hidden; height:80px; list-style:none; padding:0 15px; font-size:13px;}
.newstick li .list_name,
.newstick li .list_cont{ display:table-cell; padding:10px;}
.newstick li .list_name{ width:110px; overflow:hidden; color:#a32525; text-align:right; text-overflow:ellipsis; white-space:nowrap; font-weight:bold; font-size:14px;}
.newstick li .list_cont:before,
.newstick li .list_cont:after{ content:'\"'; display:inline-block; font-size:18px; line-height:13px; letter-spacing:-3px;}
.newstick li .list_cont:empty:before,
.newstick li .list_cont:empty:after{ content:"";}
.news_scroller .news_nav{ width:21px; cursor:pointer; height:18px; display:inline-block; background:url(news-nav.png) no-repeat;}
.news_scroller .news_nav.newsnav_up{ background-position:top left;}
.news_scroller .news_nav.newsnav_down{ background-position:top right;}
.news_scroller .news_nav.newsnav_up:hover{ background-position:bottom left;}
.news_scroller .news_nav.newsnav_down:hover{ background-position:bottom right;}

/*heading*/
.heading{ color:#edb52d; text-transform:uppercase; text-align:center;}
.heading .sub_head1,
.heading .sub_head2{ vertical-align:baseline; display:inline-block; margin-top:15px; font-weight:700; margin-bottom:0; border-top-left-radius:5px; border-top-right-radius:5px; position:relative;}
.heading .sub_head1{ font-size:20px; min-width:235px; line-height:20px; padding:6px 15px 6px 10px; background:#800000;}
.heading.sticky_head .sub_head1{ background:#a42626; border-radius:0; border-bottom-left-radius:5px; border-bottom-right-radius:5px; margin:0;}
.heading .sub_head1 a{color:#edb52d; }
.sub_head1 img,
.sub_head1 span{ display:inline-block; vertical-align:middle;}
.sub_head1 img{ margin:3px 5px 0px 5px;}
.heading .sub_head2{ font-size:15px; padding:6px 15px; font-weight:600;}
.heading.over_line{ margin-top:-29px;}
.heading.over_line .sub_head2{ margin:0;}
.heading .sub_head2:after{ height:4px; bottom:-4px;}
.head2{ font-size:22px; color:#800000; font-weight:600; padding:10px 20px; margin:0; text-align:center;}

.main_head{ background:#800000; color:#ffe437; padding:10px 0; min-height:60px; position:relative;}
.main_head.page_head{ z-index:3; /*margin-top:-10px; border-top-left-radius:10px; border-top-right-radius:10px;*/}
.head_1{ display:inline-block; line-height:38px; font-size:24px; font-weight:600; text-align:center; margin:0; text-transform:uppercase;}
.content_box.gpaper_box .main_head{ padding-bottom:70px;}
.content_box.gpaper_box .main_head .head_1{ padding:7px 0;}
.red_head{ padding:10px 20px; background:#800000; box-shadow:0px 1px 3px rgba(0,0,0,.3) inset; min-height:52px;}
.red_head a.red_link{ color:#efbf4f; padding-top:3px;}

/*Slider*/
#Banner_Slider .item img{ display:block; width:100%; height:auto;}
.album_slider1 .item{ margin:3px;}
.album_slider1 .item img{ display:block; width:100%; height:auto;}
.item_carousel{ padding:0 30px; position:relative;}
.item_carousel .owl-controls{ position:absolute; top:40%; left:0; z-index:0; width:100%;}
.item_carousel.owl-theme .owl-controls .owl-buttons div{ display:block; float:left; position:relative; width:22px; height:22px; opacity:1; text-indent:-9999px; background-image:url(nav-buttons.jpg); background-repeat:no-repeat;}
.item_carousel.owl-theme .owl-controls .owl-buttons div.owl-prev{ left:0px; background-position:-0px -0px;}
.item_carousel.owl-theme .owl-controls .owl-buttons div.owl-next{ float:right; right:0px; background-position:-22px -0px;}
.item_carousel.owl-theme .owl-controls .owl-buttons div.owl-prev:hover{ background-position:-0px -22px;}
.item_carousel.owl-theme .owl-controls .owl-buttons div.owl-next:hover{ background-position:-22px -22px;}
.item_carousel.owl-theme .owl-wrapper-outer{ z-index:1;}
.album_slider2.item_carousel .owl-controls{ top:30%;}

.slider_cover{ padding:10px 40px; position:relative;}
.slider_cover .frame{ z-index:2;}
.slider_cover .controls{ position:absolute; width:100%; top:27%; left:0; z-index:1;}
.slider_cover .controls .btn{ display:block; float:left; position:relative; width:22px; height:22px; opacity:1; text-indent:-9999px; background-image:url(nav-buttons.png); background-repeat:no-repeat; background-color:transparent; border:none; padding:0; line-height:0;}
.slider_cover .controls .btn:focus,
.slider_cover .controls .btn:hover,
.slider_cover .controls .btn:active{ outline:none!important;}
.slider_cover .controls .btn.prev{ left:0px; background-position:-0px -0px;}
.slider_cover .controls .btn.next{ float:right; right:0px; background-position:-22px -0px;}
.slider_cover .controls .btn.prev:hover{ background-position:-0px -22px;}
.slider_cover .controls .btn.next:hover{ background-position:-22px -22px;}

.album_thumb{}
.album_thumb.custom_album{ max-width:200px;}
.album_thumb .album_img{ display:block; position:relative; z-index:1;}
.album_thumb .album_img img{ display:block; width:100%; height:auto; position:relative; z-index:1;}
.album_style2.album_thumb .album_img{ background:url(golden-thread.png) bottom center no-repeat #743904; padding-bottom:2px;}
.album_thumb .album_img a.album_over{ display:block; width:80px; height:80px; position:absolute; z-index:2; opacity:.5; margin:0 auto; top:32px; left:0; right:0; background:url(play-btn.png) center center no-repeat;}
.album_style2.album_thumb .album_img a.album_over{ display:none;}
.album_thumb.custom_album .album_img a.album_over{ top:30px;}
.album_thumb .album_img:hover a.album_over{ opacity:1;}
.album_thumb .album_title{ display:block; position:relative; z-index:3; color:#f9c330; padding:4px 10px; text-align:center; background:#a62727; width:80%; font-size:13px; margin:0 auto; border-bottom-left-radius:5px; border-bottom-right-radius:5px; box-shadow:0px 2px 5px rgba(0,0,0,.3) inset;-webkit-box-shadow:0px 2px 5px rgba(0,0,0,.3) inset; -moz-box-shadow:0px 2px 5px rgba(0,0,0,.3) inset; max-height:30px; margin-bottom:10px;}
.album_style2.album_thumb .album_title{ background:#800000; background-size:100%;}
.album_style2.album_thumb .album_title:after{ display:none;}
.album_thumb .album_title:after{ top:-6px; background:url(arrow-tb.png) top center no-repeat;}
.album_thumb .album_title .album_name{ font-weight:600;}

.album_thumb.album_style3 .album_img img{ max-height:160px;}
.album_thumb.album_style3 .album_title{ background:#da9f4a; max-height:52px; width:100%; box-shadow:none; color:#800000; text-align:left;}
.album_thumb.album_style3 .album_title:after{ display:none;}
.album_thumb.album_style3 .album_title .album_name{ font-weight:600; display:block;}
.album_thumb.album_style3.item:after{ display:none;}

.album_slider1 .item{ max-width:140px; margin:10px auto;}
.album_thumb.item{ padding-bottom:20px;}
.album_slider1.item_carousel .owl-controls{ top:31%;}
.album_slider2 .item{ margin:10px 25px;}
.album_slider2 .item img{ display:block; width:100%; height:auto;}
.album_thumb.item:after{ width:102px; height:25px; display:block; position:absolute; right:0px; left:0; margin:0 auto; bottom:4px; content:""; background:url(shadow.png) bottom center no-repeat;}
.album_slider3 .item{ margin:10px 25px;}
.album_slider3 .album_thumb .album_title{ max-height:44px;}
.album_slider3 .item img{ max-height:120px;}
.album_slider3.item_carousel .owl-controls{ top:34%;}

#jukebox_slide{ width:100%; height:300px; position:relative; clear:both; overflow:hidden; }
#jukebox_slide img{visibility:hidden; cursor:pointer;}
.split-left{width:450px;float:left;}
.split-right{width:400px;float:left;margin-left:10px;}
#callback-output{height:250px;overflow:scroll;}
textarea#newoptions{width:430px;}

/*Dropdown*/
.dropdown.icon_drop{ display:inline-block;}
.dropdown.icon_drop .dropdown-toggle,
.dwn_link{ width:30px; height:30px; display:inline-block; padding:4px;}
.dropdown.icon_drop .dropdown-toggle .dropdown_icon,
.dwn_link .dropdown_icon{ display:inline-block; width:22px; height:22px; background:url(dropdown.png) bottom center no-repeat;}
.dropdown.icon_drop.open .dropdown-toggle .dropdown_icon{ background:url(dropdown.png) top center no-repeat;}
.dropdown.icon_drop.dropdown_right.open > .dropdown-menu{ left:auto; right:0;}
.dropdown.icon_drop.open > .dropdown-menu{ border-radius:6px; background:#fff; border:1px solid #c79644;}
.dropdown.icon_drop.open > .dropdown-menu > li > a{ color:#222;}
.dropdown.icon_drop.open > .dropdown-menu > li > a:hover{ color:#870707; background:#ffe2a1;}

.panel_style1.panel-group .panel-heading .dropdown.icon_drop .dropdown-toggle,
.drop_nostyle .dropdown.icon_drop .dropdown-toggle{ width:auto; color:#f0c055; font-size:13px; }
.panel_style1.panel-group .panel-heading .dropdown.icon_drop .dropdown-toggle .dropdown_icon,
.drop_nostyle .dropdown.icon_drop .dropdown-toggle .dropdown_icon{ display:inline-block; width:11px; height:9px; background:url(small-sprite.png) -35px -10px no-repeat; position:relative; top:1px;}
.panel_style1.panel-group .panel-heading .dropdown.icon_drop.open > .dropdown-menu,
.drop_nostyle .dropdown.icon_drop.open > .dropdown-menu{ border:none;}
.drop_nostyle{ margin-top:2px; display:inline-block;}

.heading_drop.dropdown.icon_drop{ cursor:pointer; position:relative; z-index:10; text-align:center; top:-70px; color:#ffe437;}
.heading_drop.dropdown.icon_drop .dropdown-toggle{ width:auto; height:auto; margin:0 auto;}
.heading_drop.dropdown.icon_drop .dropdown-toggle .dropdown_icon{ display:inline-block; width:25px; height:25px; background:url(small-sprite.png) -50px -0px no-repeat; position:relative; top:4px; margin-left:3px;}
.heading_drop.dropdown.icon_drop.open > .dropdown-menu{ position:absolute; float:right; top:6px; left:100%; background:none; border:none; box-shadow:none; z-index:10;}
.heading_drop.dropdown.icon_drop.open > .dropdown-menu > li > a{ background:#feeecb; margin:3px; text-transform:uppercase; color:#800000; font-size:14px; font-weight:600; box-shadow:0px 0px 2px rgba(0,0,0,.3);}
.heading_drop.dropdown.icon_drop.open > .dropdown-menu > li > a.formtype_selected{ background:#ffd782;}
.heading_drop.dropdown.icon_drop.open > .dropdown-menu > li > a:hover{ color:#a42626;}

/*panel*/
.panel_style1{ margin-top:30px;}
.panel_style1.panel-group .panel{ background:none; border:none; box-shadow:none; margin-top:15px;}
.panel_style1 .panel-default > .panel-heading{ display:block; border:none; background:#800000;}
.panel_style1.panel-group .panel-heading + .panel-collapse > .panel-body{ border:none;}
.panel_style1.panel-group .panel-heading{ text-align:center; position:relative; min-height:50px;}
.panel_style1.panel-group .panel-heading h2{ color:#ffe437; font-size:21px; text-transform:uppercase; display:inline-block; margin:5px; position:absolute; left:0; right:0; margin:0 auto; z-index:0; line-height:30px;}
.panel_style1.panel-group .panel-heading .acc_ctrl{ width:29px; height:29px; display:inline-block; float:left; background:url(small-sprite.png) -0px -0px no-repeat;}
.panel_style1.panel-group .panel-heading.collapsed .acc_ctrl{ background:url(small-sprite.png) -0px -29px no-repeat;}
.panel_style1.panel-group .panel-heading .dropdown.icon_drop{ float:left; margin-left:15px; margin-top:3px;}
.panel_style1.panel-group .panel-heading .acc_ctrl,
.panel_style1.panel-group .panel-heading .dropdown.icon_drop{ position:relative; z-index:3;}

/*Modal*/
.wtowmodal .modal-dialog{ margin-top:10%;}
.wtowmodal .modal-content{ background:#f3e1c1; border-radius:6px; border:none;}
.wtowmodal .modal-header .close{ background:#9c1f1b; color:#fff; text-shadow:none; font-size:15px; width:20px; height:20px; opacity:1; border-radius:30px; margin-top:0px; margin-right:0px;}
.wtowmodal .modal-header .close:hover{ background:#;}
.wtowmodal .modal-header{ border:none; background:url(inverted_line.png) bottom center no-repeat;}
.wtowmodal .signin_with a{ display:block; background:#5577b1; color:#fff; vertical-align:middle; border-radius:3px; margin:10px 0;}
.wtowmodal .signin_with a.signin_gp{ background:#e04c2f;}
.wtowmodal .signin_with a span,
.wtowmodal .signin_with a img{ display:inline-block;}
.wtowmodal .signin_with a img{ border-right:1px solid rgba(255,255,255,.2);}
.wtowmodal h3{ color:#a32525; margin:0; font-size:18px;}
.wtowmodal .login_left{ padding-right:30px; background:url(vertical-line_dark.png) right top no-repeat;}
.wtowmodal .modal-title{ padding-left:20px;}
.wtowmodal .form_style2 .form-group{ margin-top:5px; margin-bottom:5px;}

/*table*/
.table.table_style1{ background:none;}
.table.table_style1 > thead > tr > th,
.table.table_style1 > tbody > tr > th,
.table.table_style1 > tfoot > tr > th,
.table.table_style1 > thead > tr > td,
.table.table_style1 > tbody > tr > td,
.table.table_style1 > tfoot > tr > td{ border-bottom:1px solid #c79644;}
.table.table_style1 > tbody > tr:last-child > td{ border-bottom:none;}
.table.table_style1 > thead > tr > th{ font-weight:600; font-size:16px; color:#6a0000;}
.table.table_style1 > tbody > tr > td{ padding:8px 10px; line-height:14px; font-size:14px;}
.table.table_style1 > tbody > tr:hover{ background:#facf70;}
.table.table_style1 > tbody > tr > td img,
.table.table_style1 > tbody > tr > th img{ padding:10px 0; margin-left:10px;}
.table.table_style1 .td_cont{ font-size:13px;}
.table.table_style1 h4{ font-size:16px; font-weight:600; margin:8px 0 6px 0;}
.table.table_style1 h5{ font-size:14px; margin:4px 0;}

.cal_table{ margin:20px 10px;}
.cal_table .table{ background:none;}
.cal_table .table thead th{ padding:1px 1px 0px 0px;}
.cal_table .table thead th .curvy_th{ color:#f1c66d; font-size:13px; background:#800000; text-align:center; padding:4px 6px; border-top-left-radius:3px; border-top-right-radius:3px;}
.cal_table .table tbody td,
.cal_table .table tbody th{ padding:0; font-size:13px; border:1px solid #efc159;}
.cal_table .table tbody .c_date{ font-weight:600; display:inline-block; padding:3px 6px; text-align:center; width:50%;}
.cal_table .table tbody .c_date:hover{ background:#d53b3a; color:#fff; box-shadow:0px 0px 5px rgba(0,0,0,.2) inset;}
.stacktable .st-head-row th:first-child{ display:none;}
.stacktable .st-head-row{ border-top:2px solid #dfab3b;}
.cal_table .table thead th.highlight .curvy_th{ background:#e8dede; color:#800000;}
.stacktable .c_date{ border-right:1px solid #eec058;}

.spl_tabs{ margin-top:-39px; position:relative;}
.spl_tabs .nav-tabs{ margin:0; border:none;}
.spl_tabs .nav-tabs > li{ margin:0;}
.spl_tabs .nav-tabs > li.active > a,
.spl_tabs .nav-tabs > li > a{ border:none; padding:9px 15px 6px 10px;vertical-align:baseline; display:inline-block; font-weight:700; margin-bottom:0; border-top-left-radius:5px; border-top-right-radius:5px; position:relative; font-size:20px; line-height:20px; border:none; color:#edb52d;}
.spl_tabs .nav-tabs > li > a .img2{ display:inline-block;}
.spl_tabs .nav-tabs > li > a .img1{ display:none;}
.spl_tabs .nav-tabs > li.active > a .img2{ display:none;}
.spl_tabs .nav-tabs > li.active > a .img1{ display:inline-block;;}
.spl_tabs .nav-tabs > li > a{ background:#f0c362; color:#800000;}
.spl_tabs .nav-tabs > li.active > a{ background:#800000; color:#edb52d;}


.stacktable{ width:100%; }
.st-head-row{ padding-top:1em; }
.st-head-row.st-head-row-main{ font-size:1.5em; padding-top:0; }
.st-key{ width:39%; padding-right:1%; }
.st-val{ width:59%; padding-left:1%; }
.stacktable.large-only{ display:table; }
.stacktable.small-only{ display:none; }
@media (max-width:800px){
.stacktable.large-only{ display:none; }
.stacktable.small-only{ display:table; }
}

/*pagination*/
.pag_unstyled{ text-align:center;}
.pag_unstyled .pagination{ margin:20px auto; display:inline-block}
.pag_unstyled .pagination > .disabled > span,
.pag_unstyled .pagination > .disabled > span:hover,
.pag_unstyled .pagination > .disabled > span:focus,
.pag_unstyled .pagination > .disabled > a,
.pag_unstyled .pagination > .disabled > a:hover,
.pag_unstyled .pagination > .disabled > a:focus,
.pag_unstyled .pagination > li > a,
.pag_unstyled .pagination > li > span,
.pag_unstyled .pagination > li.active > a:hover{ border:none; background:none; font-weight:600;}
.pag_unstyled .pagination > li:last-child > a,
.pag_unstyled .pagination > li:last-child > span,
.pag_unstyled .pagination > li:first-child > a,
.pag_unstyled .pagination > li:first-child > span{ display:block; position:relative; width:24px; height:34px; opacity:1; text-indent:-9999px;}
.pag_unstyled .pagination > li > a{ color:#c42e2d;}
.pag_unstyled .pagination > li > a:hover,
.pag_unstyled .pagination > li.active > a{ color:#800000;}
.pag_unstyled .pagination > li:last-child > a,
.pag_unstyled .pagination > li:last-child > span{background:url(arrow-lr.png) right center no-repeat; margin-left:10px;}
.pag_unstyled .pagination > li:first-child > a,
.pag_unstyled .pagination > li:first-child > span{background:url(arrow-lr.png) left center no-repeat; margin-right:10px;}
 

.pag_styled{ text-align:center;}
.pag_styled .pagination{ margin:20px auto; display:inline-block}
.pag_styled .pagination > .disabled > span,
.pag_styled .pagination > .disabled > span:hover,
.pag_styled .pagination > .disabled > span:focus,
.pag_styled .pagination > .disabled > a,
.pag_styled .pagination > .disabled > a:hover,
.pag_styled .pagination > .disabled > a:focus,
.pag_styled .pagination > li > a,
.pag_styled .pagination > li > span,
.pag_styled .pagination > li.active > a:hover{ border:none; background:none; font-weight:600;}
.pag_styled .pagination > li:last-child > a,
.pag_styled .pagination > li:last-child > span,
.pag_styled .pagination > li:first-child > a,
.pag_styled .pagination > li:first-child > span{ display:block; position:relative; width:376px; height:34px; opacity:1; text-indent:-9999px;}
.pag_styled .pagination > li > a{ color:#c42e2d;}
.pag_styled .pagination > li > a:hover,
.pag_styled .pagination > li.active > a{ color:#800000;}
.pag_styled .pagination > li:last-child > a,
.pag_styled .pagination > li:last-child > span{background:url(arrowr.png) right center no-repeat; margin-left:10px;}
.pag_styled .pagination > li:first-child > a,
.pag_styled .pagination > li:first-child > span{background:url(arrowl.png) left center no-repeat; margin-right:10px;}

/*form*/
.form_style1{}
.form_style1 .form-group{ margin-bottom:5px;}
.form_style1 .form-control{ background:#fff79a; border-radius:50px; border:1px solid #c79644; font-size:13px; padding-left:20px; height:30px; color:#222;}
.form_style1 .form-control:hover,
.form_style1 .form-control:focus{ border:1px solid #9d5a13; box-shadow:none;}
.form_style1 .btn{ margin-left:10px; border-radius:50px; color:#fff; padding:1px 15px; font-weight:600;}
.form_style1 .btn.btn_juke{ margin-left:-10px; padding:4px 15px;}
.form_style1 .btn.btn-default{ background:#c62e2d; box-shadow:5px 0px 8px rgba(0,0,0,.15) inset;}
.form_style2 .form-group{ margin-bottom:10px; margin-top:20px;}
.form_style2 .radio, .form_style2 .checkbox{ padding:0 10px;}
.form_style2 .btn{ margin-left:10px;}
.form_style2 .form-control{ border:1px solid #9f6b22; color:#222;}
.form_style2 .form-control:hover,
.form_style2 .form-control:focus{ border:1px solid #895813; box-shadow:none; background-color:rgba(255,255,255,.1);}
.form_style2 .control-label,
.form_style2 label{ color:#800000;}
.form_style2 .btn.btn-default{ border-radius:3px;}
.form_style2 .btn.btn-default:hover{ background:#a42727;}
.curvy_search{}
.curvy_search .input-group{ max-width:230px; border-radius:60px; background:#fff799;}
.curvy_search .input-group .input-group-addon{ background:none; border:none;}
.curvy_search .input-group .form-control{ border:none; background:#fff; box-shadow:1px 1px 3px rgba(0,0,0,.5) inset; margin:4px; height:24px; margin-left:-5px; border-radius:60px; color:#222;}

.btn.btn-default{ color:#f1c566;}
.btn.btn-white{ background:#fde5b0; color:#800000;}

.optn_btn{ width:100%; border-radius:4px; overflow:hidden;}
.optn_btn .btn.btn-default{ width:50%; background:#f7f7b8; color:#800000; font-weight:bold;}
.optn_btn .btn.btn-default.active{ background:#800000; color:#efc156;}

.trans_select{}
.trans_select .select2-container .select2-choice{ background:none; border:1px solid #9f6b22;}
.trans_select .select2-container .select2-choice .select2-arrow{ background:#ffdea7; border-left:1px solid #9f6b22;}
.trans_select .select2-drop.select2-drop-above.select2-drop-active{ border:1px solid #9f6b22;}
.trans_select .select2-drop-active{ border:1px solid #9f6b22;}
.trans_select .select2-drop{ background:#ffdea7;}
.trans_select .select2-container .select2-choice > .select2-chosen{ color:#222;}

.page_wrapper{box-shadow:0px 0px 10px rgba(0,0,0,.5); position:relative;}
.content_box{ background:#f0c97a; padding-bottom:30px;}
.content_box.yellow_box{ background:#f2c979;background:-moz-radial-gradient(center,ellipse cover,#f2c979 0,#eebd47 100%);background:-webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,#f2c979),color-stop(100%,#eebd47));background:-webkit-radial-gradient(center,ellipse cover,#f2c979 0,#eebd47 100%);background:-o-radial-gradient(center,ellipse cover,#f2c979 0,#eebd47 100%);background:-ms-radial-gradient(center,ellipse cover,#f2c979 0,#eebd47 100%);background:radial-gradient(ellipse at center,#f2c979 0,#eebd47 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2c979', endColorstr='#eebd47', GradientType=1);}
.content_box.gpaper_box{ background:none; position:relative;}

.send_us_link img{ display:block; margin-top:0;}
.send_us_link:hover img{ margin-top:-10px; margin-bottom:10px;}
.send_us_link img, .send_us_link:hover img{
transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -moz-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -webkit-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -o-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}

/*Box*/
.block_1{ position:relative;}
.block_1.light_box{ background:#f3e1c1;}
.content_box.gpaper_box .block_1.over_layer{background-image:url(banner/grunge-paper.png); background-repeat:no-repeat; background-size:100%; background-color:transparent; position:relative; z-index:3; margin-top:-115px; padding:50px 100px; min-height:705px; margin-bottom:-95px;}
.bordered_boxes{}
.bordered_boxes .bordered_box + .bordered_box{ background:url(vertical-line_dark.png) top left no-repeat;}
.bordered_boxes .bordered_box .box{ padding:20px 10px;}
.padding_r20{ padding-right:20px;}
.padding_l20{ padding-left:20px;}
.padding_20{ padding:20px;}
.padding_1020{ padding:10px 20px;}
.padding_t10{ padding-top:10px;}


/*sections*/
.block_1.sect_dailybread{}
.block_1.sect_dailybread .line_devider,
.block_1.sect_audiobible .line_devider{ position:relative; z-index:2;}
.block_1.sect_audiobible{}
 .block_1.bglink_block{}
.block_1 .bg_link{ display:block; width:100%; height:100%; position:relative; margin-top:-55px; z-index:1;}
.block_1.bglink_block .heading{ position:relative; z-index:2;}
.book_list{ background:#fff799; font-size:14px; color:#474744;}
.book_list .book_rack{ position:relative;}
.book_list .book_rack .row{ border-bottom:1px solid #f5d66e;}
.book_list .book_rack .book_no{ display:inline-block; position:absolute; min-height:40px; font-weight:600; text-align:center; min-width:50px; padding:10px; background-size:0 100%;}
.book_list .book_rack .book_name{ display:inline-block; position:relative; padding-left:50px;}
.book_list .book_rack .book_name a{ display:block; color:#474744; font-size:14px; padding:10px 10px; font-weight:600;}
.book_list .book_rack .col-sm-6:first-child{ border-right:1px solid #f7dd79;}
.book_list .book_rack .row:hover{ background:#fff; box-shadow:1px 1px 4px rgba(0,0,0,.4) inset;}
.book_list .book_rack .row:hover .book_name a,
.book_list .book_rack .row:hover .book_no{ color:#222;}
.chapter_list{ background:#fff799;}
.chapter_list .chapter{ border:1px solid #f5d570; border-top:none; border-left:none; text-align:center; font-size:17px; font-weight:600;}
.chapter_list .chapter .ch_num{ display:block; padding:20px 10px;}
.chapter_list .chapter:hover{ background:#d63b3a; box-shadow:2px 2px 15px rgba(0,0,0,.3) inset;}
.chapter_list .chapter:hover a{ color:#fff;}

.page_cont{ padding:30px 30px;}
.page_cont p{ float:left;}
.page_cont p img{ float:left; margin:0 20px 10px 0;}

/*ablum list*/
.audio_albums .album_list{clear:both; padding:30px 0px 30px 20px;}
.audio_albums .album_list .short_de{ background:#da9f4a; border-bottom-left-radius:10px; border-bottom-right-radius:10px; padding:1px 10px 3px 10px; margin-bottom:10px;}
.audio_albums .album_list li{float:left;margin:0 20px 10px 0;}
.audio_albums .album_list .thumb{position:relative;width:192px;height:150px;overflow:hidden;}
.audio_albums .album_list .thumb img{width:100%;height:auto;vertical-align:top;}
.audio_albums .album_list .view{position:absolute;top:0;left:0;width:100%;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#800000;background:rgba(128,0,0,0.8);border:1px solid #800000;text-align:center;line-height:0;opacity:0;visibility:hidden;-webkit-transition:opacity 0.3s, visibility 0s linear .3s;-moz-transition:opacity 0.3s, visibility 0s linear .3s;-o-transition:opacity 0.3s, visibility 0s linear .3s;transition:opacity 0.3s, visibility 0s linear .3s;-webkit-transform:translate3d(0,0,0);}
.audio_albums .album_list .thumb:hover .view{visibility:visible;opacity:1;-webkit-transition-delay:0s;-moz-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s;}
.audio_albums .album_list .view .button{ position:relative;top:50%;margin-top:-17px; background:#efc055; border-radius:4px; padding:3px 15px; font-size:13px; font-weight:600;}
.audio_albums .album_list h4{ color:#870707; font-size:14px; font-weight:600; margin:0; padding:3px 0 1px 0;}
.audio_albums .album_list h4 a{text-decoration:none;}
.audio_albums .colio-active-item .thumb{ border:5px solid #800000;}
.audio_albums .colio-active-item .short_de{ background:none;}
.audio_albums .colio-active-item:after{ /*display:block; content:""; width:19px; height:12px; background:#333; position:absolute; bottom:-10px; left:0; right:0; margin:0 auto; background:url(arrow-open.png) no-repeat;*/}
.audio_albums .album_list p{font-size:12px;line-height:1.3em; margin:0;}

/*scroll*/
#Book_Scroll.scroll{ height:360px; overflow:auto; padding-right:8px;}
#Chapter_Scroll.scroll{ height:360px; overflow:auto; padding-right:8px;}

/*share*/
#share-wrapper{ margin-top:10px; position:fixed; left:0; z-index:1000;}
.login_link{ display:block; font-weight:bold; background:#f3e1c1; padding:5px; border-top-right-radius:30px; border-bottom-right-radius:30px; margin-bottom:5px; max-width:95px; text-align:right; overflow:hidden;}
.login_link:last-child{ margin-bottom:50px;}
.login_link img{ width:26px; height:auto;}
.login_link img,
.login_link span{display:inline-block; float:right;}
.login_link span{ float:left;}
.login_link span{ padding:0px 5px; font-weight:400;}
#share-wrapper ul.share-inner-wrp{ list-style:none; margin:0px; padding:0px;}
#share-wrapper li.button-wrap{ background:#f3e1c1; padding:0px 0px 0px 10px; display:block; width:141px; margin:0px 0px 1px -117px; box-shadow:0px 1px 2px rgba(0,0,0,.2);}
#share-wrapper li.button-wrap > a{ padding-right:54px; height:34px; display:block; line-height:34px; font-weight:bold; color:#444; text-decoration:none; font-size:14px; margin-right:-10px;}
.class a{ font-size:20px;}
@media all and (max-width:699px){.class a{font-size:13px; }}
@media all and (max-width:699px){
#share-wrapper{ bottom:0; max-height:42px; position:fixed; padding:5px 5px 0px 5px; background:#f3e1c1; width:100%; margin:0px; -webkit-box-shadow:0 -1px 4px rgba(0, 0, 0, 0.15); -moz-box-shadow:0 -1px 4px rgba(0,0,0,0.15); -o-box-shadow:0 -1px 4px rgba(0,0,0,0.15); box-shadow:0 -1px 4px rgba(0, 0, 0, 0.15);}
.login_link{ width:44px; float:left; border-radius:0; padding:0;}
.login_link span{ display:none;}
#share-wrapper ul.share-inner-wrp{ list-style:none; margin:0px auto; padding:0px; text-align:center; overflow:auto;}
#share-wrapper li.button-wrap{ display:inline-block; width:32px!important; margin:0px; padding:0px; margin-left:0px!important;}
#share-wrapper li.button-wrap > a{ height:32px; display:inline-block; text-indent:-10000px; width:32px; padding-right:0; float:left; background-size:32px 32px;}}
#share-wrapper .facebook > a{background:url(share/facebook.png) no-repeat right;}
#share-wrapper .twitter > a{background:url(share/twitter.png) no-repeat right;}
#share-wrapper .google > a{background:url(share/google-plus.png) no-repeat right;}
#share-wrapper .email > a{background:url(share/email.png) no-repeat right;}
#share-wrapper .pinterest > a{background:url(share/pinterest.png) no-repeat right;}
#share-wrapper .youtube > a{background:url(share/youtube.png) no-repeat right;}

/*Bible pages*/
.bible_head{ background:#800000; color:#f1c774; margin-top:5px; box-shadow:0px 3px 3px rgba(0,0,0,.3) inset; text-align:center;}
.bible_head h1{ font-size:40px; font-weight:400; text-align:center; padding:0 40px; line-height:40px; display:inline-block; vertical-align:middle;}
.bible_head .page_nav{ display:inline-block; margin-top:20px; vertical-align:middle;}
.bible_head .page_nav.pre_page{}
.bible_head .bible_opt{ padding:20px 10px;}
.bible_head .bible_btn{ display:inline-block;}
.bible_head .bible_btn *{ display:inline-block; float:left; color:#efbf4f; font-size:18px;}
.bible_head .bible_btn img{ margin:0 15px;}

.bible_head .page_selector{ display:inline-block; padding:10px 30px; vertical-align:middle;}
.bible_head .page_selector .dropdown > a{ font-size:26px; color:#f1c774; width:auto;}
.bible_head .page_selector .dropdown{ padding:0 15px;}
.bible_head .page_selector .dropdown.icon_drop .dropdown-toggle .dropdown_icon{ background:url("dropdown1.png") no-repeat scroll left bottom;}
.bible_head .page_selector .dropdown.icon_drop.open .dropdown-toggle .dropdown_icon{ background:url("dropdown1.png") no-repeat scroll right top;}
.bible_head .dropdown.icon_drop.dropdown_right.open > .dropdown-menu{ min-width:80px; max-width:80%; left:0; right:0; margin:0 auto; background:#f1c774; border:none;}
.bible_head .dropdown.icon_drop.dropdown_right.open > .dropdown-menu > li > a{ color:#800000; font-size:18px;}
.bible_head .dropdown.icon_drop.dropdown_right.open > .dropdown-menu > li > a:hover{  background:#800000; color:#f1c774;}

.bible_norm{ margin-bottom:-30px;}
.bible_norm.bible_paper{ background:url(bible-bg.jpg) top center no-repeat #aa7829; background-size:100%;}
.bible_norm .bible_page{ background:url(grunge-paper.png) top center no-repeat; top:30px; min-height:1300px; width:100%; position:relative; float:left;}
.bible_norm .bible_page .bible_pageimg{ max-width:650px; max-height:900px; position:relative; margin:127px auto 10px auto; vertical-align:middle; text-align:center; position:relative;}
.bible_norm .bible_page .bible_pageimg img{ display:inline-block;}

.bible_norm .bible_book{ background:url(bible/book.png) top center no-repeat; top:30px; min-height:800px; width:100%; position:relative;}
.bible_norm .bible_book .paper{ display:inline-block; margin-top:60px;}
.bible_norm .bible_book .paper.paper_left{ float:right; margin-right:30px;}
.bible_norm .bible_book .paper.paper_right{ float:left; margin-left:30px;}

.bible_norm .bible_book .nav_bible{ z-index:10; padding:0 150px; position:absolute; bottom:185px;}
.bible_norm .bible_book .nav_bible a{ background-image:url(bible/bible-nav1.png);}

.nav_bible{ display:block; position:relative; width:100%; height:30px; bottom:70px; left:0;}
.nav_bible a{ display:inline-block; height:30px; width:30px; background-image:url(bible/bible-nav.png); background-repeat:no-repeat;}
.nav_bible a.prev_page{ background-position:left top; float:left;}
.nav_bible a.prev_page:hover{ background-position:left bottom;}
.nav_bible a.next_page{ background-position:right top; float:right;}
.nav_bible a.next_page:hover{ background-position:right bottom;}

.bible_norm .candles{ display:block; position:absolute; width:86px; height:554px; bottom:30px;}
.bible_norm .candles.cendle_left{ left:0;}
.bible_norm .candles.cendle_right{ right:0;}
.bible_norm .bible_player{ display:block; position:absolute; width:881px; height:77px; bottom:30px; left:0; right:0; margin:0 auto;}

/* Contact */
.page_cont .list-icon-items p{ float:none; min-height:50px;}
.list-icon-items{margin-top:-.9em;word-spacing:0; text-align:center;}
.list-icon-items>li{display:inline-block; vertical-align:top; margin-bottom:20px; min-height:150px;}
.list-icon-items.large-margins>li{margin:2.75em 1em 0}
.list-icon-items.no-margins{margin-top:-100px}
.list-icon-items.no-margins>li{margin:2.75em 0 0}
.list-icon-items h6{margin-top:1.5em}
.list-icon-items i{position:relative}
.list-icon-items img{ margin-top:-10px;}
.list-icon-items .pulse{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;background:0 0;border:1px solid #800000;-moz-transition-property:all;-o-transition-property:all;-webkit-transition-property:all;transition-property:all;-moz-transition-duration:275ms;-o-transition-duration:275ms;-webkit-transition-duration:275ms;transition-duration:275ms;-moz-transition-timing-function:cubic-bezier(0.53,-.67,.73,.74);-o-transition-timing-function:cubic-bezier(0.53,-.67,.73,.74);-webkit-transition-timing-function:cubic-bezier(0.53,-.67,.73,.74);transition-timing-function:cubic-bezier(0.53,-.67,.73,.74)}
.list-icon-items a{border:none;display:block}
.list-icon-items a .pseudo-link{word-wrap:break-word;word-break:break-all; letter-spacing:-.1px;}
.list-icon-items a:active .button,
.list-icon-items a:focus .button,
.list-icon-items a:hover .button{background-color:#16a6b6}
.list-icon-items a:active .pulse,
.list-icon-items a:focus .pulse,
.list-icon-items a:hover .pulse{opacity:1;-moz-transform:scale(1.15);-ms-transform:scale(1.15);-o-transform:scale(1.15);-webkit-transform:scale(1.15);transform:scale(1.15);-moz-transition-timing-function:cubic-bezier(0.37,.74,.15,1.65);-o-transition-timing-function:cubic-bezier(0.37,.74,.15,1.65);-webkit-transition-timing-function:cubic-bezier(0.37,.74,.15,1.65);transition-timing-function:cubic-bezier(0.37,.74,.15,1.65)}
.list-icon-items li.secondary .pulse{border:1px solid #800000}
.list-icon-items .button,
.list-icon-items button{-webkit-backface-visibility:hidden}
.circ{font-size:30px;word-spacing:1px;-moz-border-radius:1000px;-webkit-border-radius:1000px;border-radius:1000px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;line-height:105px;width:100px;height:100px;max-width:100%;text-align:center;color:#fff;background-color:#16a6b6;display:inline-block;vertical-align:middle;position:relative}
.circ.secondary{background-color:#ee6557}
.circ.tertiary{background-color:#800000}
.circ.large{font-size:36px;word-spacing:1px;line-height:127px;width:120px;height:120px}


/* FOOTER
-------------------------------------------------- */
.wtow_footer{ color:#fedba2; background:url(footer.jpg) bottom center repeat-x #8a0909;}
.wtow_footer a{ color:#dba747;}
.wtow_footer a:hover{ color:#fff;}
.wtow_footer .line_devider:first-child{ position:relative; top:55px;}
.wtow_footer h3{ font-weight:400;}
.wtow_footer .foo_block{ min-height:210px; padding:0 30px;}
.wtow_footer .foo_block h5 a{ color:#fedba2; font-size:16px; font-weight:300;}
.wtow_footer .foo_block + .foo_block{ background:url(vertical-line.png) bottom left no-repeat;}

.wtow_footer .foo_block.social_links a{ display:block; vertical-align:middle; color:#fedba2; font-size:14px; margin:9px 0;}
.wtow_footer .foo_block.social_links a:hover{ color:#fff;}
.wtow_footer .foo_block .social_ico{ display:inline-block; width:25px; height:25px; margin-right:5px; vertical-align:middle; background-image:url(social-links.png); background-repeat:no-repeat;}
.wtow_footer .foo_block .social_ico.web_ico{ background-position:-0px -0px;}
.wtow_footer .foo_block .social_ico.blog_ico{ background-position:-30px -0px;}
.wtow_footer .foo_block .social_ico.fb_ico{ background-position:-60px -0px;}
.wtow_footer .foo_block a:hover .social_ico.web_ico{ background-position:-0px -30px;}
.wtow_footer .foo_block a:hover .social_ico.blog_ico{ background-position:-30px -30px;}
.wtow_footer .foo_block a:hover .social_ico.fb_ico{ background-position:-60px -30px;}

.wtow_footer .foo_bottom{ padding:15px 40px 15px 40px; font-size:11px;}
.wtow_footer .foo_bottom ul{ text-transform:uppercase; float:left; margin:5px 0;}
.wtow_footer .foo_bottom ul li a{ color:#fff; color:rgba(255,255,255,.6);}
.wtow_footer .foo_bottom ul li a:hover,
.wtow_footer .foo_bottom .dwn_links a:hover{ color:#fff;}
.wtow_footer .foo_bottom .dwn_links{ float:right; text-align:right;}
.wtow_footer .foo_bottom .dwn_links a{ display:inline-block; color:#fff; color:rgba(255,255,255,.6); max-width:115px; position:relative; text-align:left; line-height:10px; padding-left:25px; margin-left:10px;}
.wtow_footer .foo_bottom .dwn_links a span{ line-height:18px;}
.wtow_footer .foo_bottom .dwn_links a img{ display:inline-block; width:20px; height:19px; position:absolute; left:0; top:0;}

.listing{ font-size:17px; margin:10px 0; list-style:none;}
.listing li{ padding:1px 10px 5px 20px;}
.listing.light_bullet li{ background:url(bullet1.png) 0px 9px no-repeat;}
.listing.light_bullet li a{ color:#fff; color:rgba(255,255,255,.6);}
.listing.light_bullet li a:hover{ color:#fff;}

.bottom_strap{ background:#800000; min-height:60px; margin-bottom:20px; padding:10px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;}


/* RESPONSIVE
-------------------------------------------------- */
@media (min-width:1200px){.container{width:1100px}}

@media (max-width:1199px){
.sticky_hd.sticky_hd_shrink .main_header .header_top{ min-height:10px;}
.sticky_hd.sticky_hd_shrink .main_header .navbar-nav{ margin-top:0;}
.sticky_hd.sticky_hd_shrink .navbar{ min-height:10px;}
.content_box.gpaper_box .block_1.over_layer{ min-height:615px;}
.animated_lyrics{ width:300px;}
.animated_lyrics h1{ font-size:14px;}
}

@media (min-width:992px){

.floating_menu{ position:fixed; top:0; right:0px; left:0; margin:0 auto; z-index:1000;}
.floating_menu.stuck{ position:fixed; top:0; right:0px; left:0; margin:0 auto; z-index:1000;}
.floating_menu.stuck .banner_links{ margin-top:10%;}
.banner_links{ position:absolute; right:0; top:0; height:100%; z-index:100; margin-top:235px;}
.banner_links .links_pill{ background:#ffe294; width:15px; height:290px; float:right; border-top-left-radius:5px; border-bottom-left-radius:5px; position:relative; z-index:1;}
.banner_links .links_nav{ width:55px; float:left; position:relative; z-index:2; padding:10px 0;}
.banner_links .links_nav nav{}
.banner_links .links_nav ul li{ display:block; width:60px; height:38px; border-top-left-radius:5px; position:relative; border-bottom-left-radius:5px; margin-bottom:1px; vertical-align:middle; background:#f5d266; background:-moz-linear-gradient(left,#f5d266 0,#df9f47 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0%,#f5d266),color-stop(100%,#df9f47));background:-webkit-linear-gradient(left,#f5d266 0,#df9f47 100%);background:-o-linear-gradient(left,#f5d266 0,#df9f47 100%);background:-ms-linear-gradient(left,#f5d266 0,#df9f47 100%);background:linear-gradient(to right,#f5d266 0,#df9f47 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5d266', endColorstr='#df9f47', GradientType=1);}
.banner_links .links_nav ul li a{ position:relative; z-index:2;}
.banner_links .links_nav ul li:after{ width:5px; height:15px; display:block; position:absolute; right:-5px; top:12px; content:""; background:url(arrow-right.png) top left no-repeat;}
.banner_links .links_nav ul li .link_pop{ display:block; position:absolute; top:0; left:-0px; background:#eec25c; width:35px; height:38px; border-top-left-radius:5px; border-bottom-left-radius:5px; z-index:-1; }
.banner_links .links_nav ul li .link_pop img{ margin:8px auto; display:block;}
.banner_links .links_nav ul li:hover{ box-shadow:0px 0px 2px rgba(0,0,0,.3) inset; background:#ad2c2c;background:-moz-linear-gradient(left,#ad2c2c 0,#8d1b17 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0%,#ad2c2c),color-stop(100%,#8d1b17));background:-webkit-linear-gradient(left,#ad2c2c 0,#8d1b17 100%);background:-o-linear-gradient(left,#ad2c2c 0,#8d1b17 100%);background:-ms-linear-gradient(left,#ad2c2c 0,#8d1b17 100%);background:linear-gradient(to right,#ad2c2c 0,#8d1b17 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad2c2c', endColorstr='#8d1b17', GradientType=1);}
.banner_links .links_nav ul li .link_pop,
.banner_links .links_nav ul li:hover .link_pop{transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -moz-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -webkit-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; -o-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; box-shadow:0px 0px 10px rgba(140,90,0,.4) inset;}
.banner_links .links_nav ul li:hover:after{ background:url(arrow-right.png) top right no-repeat;}
.banner_links .links_nav ul li:hover a{ color:#fff;}
.banner_links .links_nav ul li:hover .link_pop{ left:-32px;}
.banner_links .links_nav ul li a{ display:block; min-height:38px; vertical-align:middle; font-size:10px; font-weight:600; text-transform:uppercase; line-height:11px; padding:8px 11px;}
.banner_links .links_nav ul li a span{ display:inline-block; vertical-align:middle;}

}

@media (max-width:991px){
.wtow_footer .foo_block{ padding:0 10px;}
.wtow_footer .foo_bottom ul,
.wtow_footer .foo_bottom .dwn_links{ float:none; clear:both; text-align:left; margin-bottom:20px; text-align:center;}
.wtow_footer .foo_bottom .dwn_links{ text-align:center; margin-bottom:10px;}

.banner_links{ position:relative; background:#f5d266;}
.paper_roll .banner_links{ padding-bottom:0px;}
.banner_links .links_pill{ display:none;}
.banner_links .links_nav ul{ margin:0; width:100%;}
.banner_links .links_nav ul li{ display:inline-block; float:left;}
.banner_links .links_nav ul li a{display:block; border-bottom:1px solid #df9f47; padding:5px 15px; position:relative; background:#f5d266; background:-moz-linear-gradient(left,#f5d266 0,#df9f47 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0%,#f5d266),color-stop(100%,#df9f47));background:-webkit-linear-gradient(left,#f5d266 0,#df9f47 100%);background:-o-linear-gradient(left,#f5d266 0,#df9f47 100%);background:-ms-linear-gradient(left,#f5d266 0,#df9f47 100%);background:linear-gradient(to right,#f5d266 0,#df9f47 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5d266', endColorstr='#df9f47', GradientType=1);}
.banner_links .links_nav ul li .link_pop{ display:none;}
.main_header .header_top .logo a img{ height:95px; width:auto;}

.audio_albums .album_list li{ width:30%;}
.audio_albums .album_list .view,
.audio_albums .album_list .thumb,
.audio_albums .album_list .thumb img{ width:100%;}

.main_header .doves{ display:none;}

.content_box.gpaper_box .block_1.over_layer{ min-height:0; background:#e8be89; margin:0 0 -30px 0;}
.content_box.gpaper_box .main_head{ padding-bottom:0;}

.bible_norm .bible_player{ width:100%;}
.bible_norm .bible_player img{ width:100%; height:auto;}
.bible_norm .candles{ display:none;}
.animated_lyrics{ text-indent:-9999px;}
}

@media (min-width:768px){
.dl-horizontal.dl_style1 dt{ width:110px;}
.dl-horizontal.dl_style1 dd{ margin-left:130px;}
}

@media (min-width:768px) and (max-width:991px){
.main_header .navbar-nav, .main_header .navbar-nav.navbar-right:last-child{ margin-right:10px;}
.wtow_slider .banner_over{ max-width:58%;}
.wtow_slider .banner_over h1{ margin-bottom:0; }
.wtow_slider .owl-theme .owl-controls{ bottom:10px; left:20px;}

}

@media (max-width:767px){
.sticky_hd .main_header .menu_wrap{ border-bottom:1px solid #f2c57b; background-position:left top;}
.sticky_hd .main_header .header_top{ min-height:75px;}
.sticky_hd .hd_height{ height:75px;}
.main_header .header_top .logo{ padding:10px 30px 0 10px;}
.sticky_hd.sticky_hd_shrink .main_header .navbar-toggle{ margin-top:20px;}
.heading.over_line{ margin-top:20px;}
.main_header .navbar-toggle{ position:relative; z-index:5;}

.main_header .navbar{ min-height:85px;}
.main_header .navbar-toggle{ margin:-55px 20px 10px 10px; background:#f2c57b; border-radius:4px; border:none; box-shadow:0px 0px 3px rgba(0,0,0,.4);}
.main_header .header_top .logo img{ max-width:225px; height:auto;}
.main_header .navbar-default .navbar-toggle .icon-bar{ background:#800000;}
.main_header .navbar-default .navbar-toggle:hover,
.main_header .navbar-default .navbar-toggle:focus{ box-shadow:0px 0px 3px rgba(255,255,255,.6);}
.main_header .navbar-default .navbar-toggle:hover .icon-bar,
.main_header .navbar-default .navbar-toggle:focus .icon-bar{ background:#f2c57b;}
.main_header .navbar-default{ background-size:100%;}

.main_header .navbar-default .navbar-collapse{ background:#333; background:#fdd28c; padding:0; border:none;}
.main_header .navbar-default .navbar-collapse .navbar-nav{ margin:0;}
.main_header .navbar-default .navbar-collapse .navbar-nav,
.main_header .navbar-default .navbar-collapse .navbar-nav.navbar-right:last-child{ margin-right:0;}
.main_header .navbar-nav > li > a{ padding:7px 15px; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; margin:0;}
.main_header .navbar-nav > li.active > a{ padding:7px 15px; margin:0;}

.wtow_footer .foo_block.social_links{ background:none; padding:0 40px; text-align:center; min-height:20px;}
.wtow_footer .foo_block.social_links .line_devider{ margin-bottom:15px;}
.wtow_footer .foo_block.social_links a{ display:inline-block; padding-right:10px; margin-top:-15px; margin-bottom:25px;}
.wtow_footer .foo_block.foo_2_block .line_devider{ display:none;}

.wtow_slider .banner_over{ max-width:50%;}
.wtow_slider .banner_over h1{ margin-bottom:0; margin-top:10px;}
.wtow_slider .banner_over h2{}
.wtow_slider .owl-theme .owl-controls{ bottom:10px; left:20px;}

.album_thumb.custom_album{ float:right; width:200px;}
.content_box.gpaper_box .block_1.over_layer{ padding:20px 100px;}
.form_style2 .form-group{ margin:10px 0;}

.player_box .box{ text-align:center; position:relative;}
.player_box .heading.over_line{ margin-top:0; border-bottom:1px solid rgba(0,0,0,.1);}
.center-block.player_b,
.center-block.player_skin{ display:inline-block!important; padding:0 10px;}
.center-block.player_b{ max-width:90px; margin-top:10px; margin-bottom:10px; vertical-align:top;}

.content_box.gpaper_box .block_1.over_layer{ min-height:0; margin-bottom:-30px;}

.bible_norm .bible_book{ background:#fff;}
.bible_norm .bible_book .paper{ width:100%; float:none;}
.bible_norm .bible_book .paper img{ width:100%; height:auto;}
.bible_norm .bible_book .paper.paper_right,
.bible_norm .bible_book .paper.paper_left{ margin:0;}
.bible_norm .bible_book .paper.paper_right{ padding-bottom:80px;}
.bible_norm .bible_player{ bottom:0;}
.bible_norm .bible_book .nav_bible{ bottom:98px;}
.bible_head .page_nav{ position:absolute; top:7px;}
.bible_head .page_nav.pre_page{ left:10px;}
.bible_head .page_nav.nxt_page{ right:10px;}
bible_chpthead{ position:relative;}
.bible_head h1{ padding:0 10px;}
.optn_btn{ margin-bottom:10px;}
.nav_bible a{ display:none;}
}
@media (max-width:650px){
.wtow_slider .banner_over{ max-width:90%;}
.wtow_slider .banner_over h1{ margin:0; font-size:18px; }
.wtow_slider .banner_over h2{ font-size:14px; padding:10px; margin-top:5px;}
.wtow_slider .owl-theme .owl-controls{ bottom:10px; left:20px;}

.banner_links .links_nav ul li{ width:50%;}
.content_box.gpaper_box .block_1.over_layer{ padding:10px 30px;}

.audio_albums .album_list li{ width:28.5%;}
.audio_albums .album_list .view,
.audio_albums .album_list .thumb,
.audio_albums .album_list .thumb img{ width:100%;}

.block_1 .bg_link{ margin-top:0;}

}
@media (max-width:479px){
.main_header .header_top .logo img{ max-width:225px; height:auto;}
.wtow_footer .foo_block{ margin-bottom:30px; min-height:0;}
.wtow_footer .foo_block,
.wtow_footer .foo_block + .foo_block{ width:100%; clear:both; background:none; padding:0 40px; min-height:20px;}

.panel_style1.panel-group .panel-heading h2{ position:relative;}
.form_style2 .control-label{ display:none;}
.form_style2 .col-xs-7{ width:100%;}
.content_box.gpaper_box .block_1.over_layer{ background:#e8be89; margin-top:-65px; min-height:100px; border-bottom-left-radius:10px; border-bottom-right-radius:10px; padding:0;}
.heading_drop.dropdown.icon_drop.open > .dropdown-menu{ float:none; right:0; left:auto; top:30px;}

.spl_tabs .nav-tabs > li img{ display:none;}
.spl_tabs .nav-tabs > li.active > a, .spl_tabs .nav-tabs > li > a{ font-size:14px;}
.newstick li{ padding:0;}
.newstick li .list_name{ display:block; padding:0 10px;}
.newstick li .list_cont{ padding:0 10px; padding-bottom:10px;}

.audio_albums .album_list li{ width:43.5%;}
.audio_albums .album_list .view,
.audio_albums .album_list .thumb,
.audio_albums .album_list .thumb img{ width:100%;}

}
@media (min-width:320px) and (max-width:420px){
.main_header .navbar-default{ background-size:150%;}
}

@media (max-width:360px){
.audio_albums .album_list li{ width:90%;}
.audio_albums .album_list .view,
.audio_albums .album_list .thumb,
.audio_albums .album_list .thumb img{ width:100%; height:180px;}	
}
/* Rotate */
.c_rotate{
-webkit-animation-name:spin;
-webkit-animation-duration:100000ms;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;

-moz-animation-name:spin;
-moz-animation-duration:100000ms;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;

-ms-animation-name:spin;
-ms-animation-duration:1s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;

animation-name:spin;
animation-duration:100000ms;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

@-ms-keyframes spin{ 
	from{ -ms-transform:rotate(0deg); }
	to{ -ms-transform:rotate(360deg); }
}
@-moz-keyframes spin{ 
	from{ -moz-transform:rotate(0deg); }
	to{ -moz-transform:rotate(360deg); }
}
@-webkit-keyframes spin{ 
	from{ -webkit-transform:rotate(0deg); }
	to{ -webkit-transform:rotate(360deg); }
}
@keyframes spin{ 
	from{ transform:rotate(0deg); }
	to{ transform:rotate(360deg); }
}

.bounce1{
	-webkit-animation:jump 2s infinite;
	-moz-animation:jump 2s infinite;
	-o-animation:jump 2s infinite;
	-ms-animation:jump 2s infinite;
}
@-webkit-keyframes jump {
	0% { top:25px; -webkit-animation-timing-function:ease-in;}
	50% { top:30px; -webkit-animation-timing-function:ease-in;}
	100% { top:25px; -webkit-animation-timing-function:ease-in;}
}
@-moz-keyframes jump {
	0% { top:25px; -moz-animation-timing-function:ease-in;}
	50% { top:30px; -moz-animation-timing-function:ease-in;}
	100% { top:25px; -moz-animation-timing-function:ease-in;}
}
@-ms-keyframes jump {
	0% { top:25px; -ms-animation-timing-function:ease-in;}
	50% { top:30px; -ms-animation-timing-function:ease-in;}
	100% { top:25px; -ms-animation-timing-function:ease-in;}
}
@-o-keyframes jump {
	0% { top:25px; -o-animation-timing-function:ease-in;}
	50% { top:30px; -o-animation-timing-function:ease-in;}
	100% { top:25px; -o-animation-timing-function:ease-in;}
}
.bounce2{
	-webkit-animation:jump1 3s infinite;
	-moz-animation:jump1 3s infinite;
	-o-animation:jump1 3s infinite;
	-ms-animation:jump1 3s infinite;
}
@-webkit-keyframes jump1 {
	0% { top:60px; -webkit-animation-timing-function:ease-in;}
	50% { top:65px; -webkit-animation-timing-function:ease-in;}
	100% { top:60px; -webkit-animation-timing-function:ease-in;}
}
@-moz-keyframes jump1 {
	0% { top:60px; -moz-animation-timing-function:ease-in;}
	50% { top:65px; -moz-animation-timing-function:ease-in;}
	100% { top:60px; -moz-animation-timing-function:ease-in;}
}
@-ms-keyframes jump1 {
	0% { top:60px; -ms-animation-timing-function:ease-in;}
	50% { top:65px; -ms-animation-timing-function:ease-in;}
	100% { top:60px; -ms-animation-timing-function:ease-in;}
}
@-o-keyframes jump1 {
	0% { top:60px; -o-animation-timing-function:ease-in;}
	50% { top:65px; -o-animation-timing-function:ease-in;}
	100% { top:60px; -o-animation-timing-function:ease-in;}
}

