@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);

/*
 * OWL Slider ------------------------------
 */

.owl-carousel .owl-wrapper:after{ content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;}
.owl-carousel{ display:none; position:relative; width:100%; -ms-touch-action:pan-y;}
.owl-carousel .owl-wrapper{ display:none; position:relative; -webkit-transform:translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{ overflow:hidden; position:relative; width:100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{ -webkit-transition:height 500ms ease-in-out; -moz-transition:height 500ms ease-in-out; -ms-transition:height 500ms ease-in-out; -o-transition:height 500ms ease-in-out; transition:height 500ms ease-in-out;}
.owl-carousel .owl-item{ float:left;}
.owl-controls .owl-page, .owl-controls .owl-buttons div{ cursor:pointer;}
.owl-controls{ -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.grabbing{  cursor:url(grabbing.png) 8 8, move;}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item{ -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:    hidden; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0);}

/*OWL Transition */ 
.owl-origin{ -webkit-perspective:1200px; -webkit-perspective-origin-x :50%; -webkit-perspective-origin-y :50%; -moz-perspective :1200px; -moz-perspective-origin-x :50%; -moz-perspective-origin-y :50%; perspective :1200px;}
.owl-fade-out{ z-index:10; -webkit-animation:fadeOut .7s both ease; -moz-animation:fadeOut .7s both ease; animation:fadeOut .7s both ease;}
.owl-fade-in{ -webkit-animation:fadeIn .7s both ease; -moz-animation:fadeIn .7s both ease; animation:fadeIn .7s both ease;}
.owl-backSlide-out{ -webkit-animation:backSlideOut 1s both ease; -moz-animation:backSlideOut 1s both ease; animation:backSlideOut 1s both ease;}
.owl-backSlide-in{ -webkit-animation:backSlideIn 1s both ease; -moz-animation:backSlideIn 1s both ease; animation:backSlideIn 1s both ease;}
.owl-goDown-out{ -webkit-animation:scaleToFade .7s ease both; -moz-animation:scaleToFade .7s ease both; animation:scaleToFade .7s ease both;}
.owl-goDown-in{ -webkit-animation:goDown .6s ease both; -moz-animation:goDown .6s ease both; animation:goDown .6s ease both;} 
.owl-fadeUp-in{ -webkit-animation:scaleUpFrom .5s ease both; -moz-animation:scaleUpFrom .5s ease both; animation:scaleUpFrom .5s ease both;}
.owl-fadeUp-out{ -webkit-animation:scaleUpTo .5s ease both; -moz-animation:scaleUpTo .5s ease both; animation:scaleUpTo .5s ease both;}
@-webkit-keyframes empty{ 0%{opacity:1}}
@-moz-keyframes empty{ 0%{opacity:1}}
@keyframes empty{ 0%{opacity:1}}
@-webkit-keyframes fadeIn{ 0%{ opacity:0;} 100%{ opacity:1;}}
@-moz-keyframes fadeIn{ 0%{ opacity:0;} 100%{ opacity:1;}}
@keyframes fadeIn{ 0%{ opacity:0;} 100%{ opacity:1;}}
@-webkit-keyframes fadeOut{ 0%{ opacity:1;} 100%{ opacity:0;}}
@-moz-keyframes fadeOut{ 0%{ opacity:1;} 100%{ opacity:0;}}
@keyframes fadeOut{ 0%{ opacity:1;} 100%{ opacity:0;}}
@-webkit-keyframes backSlideOut{ 25%{ opacity:.5; -webkit-transform:translateZ(-500px);} 75%{ opacity:.5; -webkit-transform:translateZ(-500px) translateX(-200%);} 100%{ opacity:.5; -webkit-transform:translateZ(-500px) translateX(-200%);}}
@-moz-keyframes backSlideOut{ 25%{ opacity:.5; -moz-transform:translateZ(-500px);} 75%{ opacity:.5; -moz-transform:translateZ(-500px) translateX(-200%);} 100%{ opacity:.5; -moz-transform:translateZ(-500px) translateX(-200%);}}
@keyframes backSlideOut{ 25%{ opacity:.5; transform:translateZ(-500px);} 75%{ opacity:.5; transform:translateZ(-500px) translateX(-200%);} 100%{ opacity:.5; transform:translateZ(-500px) translateX(-200%);}}
@-webkit-keyframes backSlideIn{ 0%, 25%{ opacity:.5; -webkit-transform:translateZ(-500px) translateX(200%);} 75%{ opacity:.5; -webkit-transform:translateZ(-500px);} 100%{ opacity:1; -webkit-transform:translateZ(0) translateX(0);}}
@-moz-keyframes backSlideIn{ 0%, 25%{ opacity:.5; -moz-transform:translateZ(-500px) translateX(200%);} 75%{ opacity:.5; -moz-transform:translateZ(-500px);} 100%{ opacity:1; -moz-transform:translateZ(0) translateX(0);}}
@keyframes backSlideIn{ 0%, 25%{ opacity:.5; transform:translateZ(-500px) translateX(200%);} 75%{ opacity:.5; transform:translateZ(-500px);} 100%{ opacity:1; transform:translateZ(0) translateX(0);}}
@-webkit-keyframes scaleToFade{ to{ opacity:0; -webkit-transform:scale(.8);}}
@-moz-keyframes scaleToFade{ to{ opacity:0; -moz-transform:scale(.8);}}
@keyframes scaleToFade{ to{ opacity:0; transform:scale(.8);}}
@-webkit-keyframes goDown{ from{ -webkit-transform:translateY(-100%);}}
@-moz-keyframes goDown{ from{ -moz-transform:translateY(-100%);}}
@keyframes goDown{ from{ transform:translateY(-100%);}}

@-webkit-keyframes scaleUpFrom{ from{ opacity:0; -webkit-transform:scale(1.5);}}
@-moz-keyframes scaleUpFrom{ from{ opacity:0; -moz-transform:scale(1.5);}}
@keyframes scaleUpFrom{ from{ opacity:0; transform:scale(1.5);}}

@-webkit-keyframes scaleUpTo{ to{ opacity:0; -webkit-transform:scale(1.5);}}
@-moz-keyframes scaleUpTo{ to{ opacity:0; -moz-transform:scale(1.5);}}
@keyframes scaleUpTo{ to{ opacity:0; transform:scale(1.5);}}

/*Owl Theme*/
.owl-theme .owl-controls{ margin-top:10px; text-align:center;}
.owl-theme .owl-controls .owl-buttons div{ color:#FFF; display:inline-block; zoom:1; *display:inline; margin:5px; padding:3px 10px; font-size:12px; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; background:#869791; filter:Alpha(Opacity=50); opacity:0.5;}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{ filter:Alpha(Opacity=100); opacity:1; text-decoration:none;} .owl-theme .owl-controls .owl-page{ display:inline-block; zoom:1; *display:inline;}
.owl-theme .owl-controls .owl-page span{ display:block; width:14px; height:14px; margin:5px 7px; filter:Alpha(Opacity=50); opacity:0.5; background:#869791;}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{ filter:Alpha(Opacity=100); opacity:1;}
.owl-theme .owl-controls .owl-page span.owl-numbers{ height:auto; width:auto; color:#FFF; padding:2px 10px; font-size:12px; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px;}
.owl-item.loading{ min-height:150px; background:url(AjaxLoader.gif) no-repeat center center}

/*
 * SLY ------------------------------
 */





/* Example wrapper */
.wrap {
	position: relative;
	margin: 3em 0;
}

/* Frame */
.frame {
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
.frame ul li {
	float: left;
	width: 210px;
	height: 100%;
	margin: 0 10px 0 10px;
	padding: 0;
	cursor: pointer;
}
.frame ul li.active {}

/* Scrollbar */
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #ccc;
	line-height: 0;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/* Pages */
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}

/* Controls */
.controls { margin: 25px 0; text-align: center; }

/* One Item Per Frame example*/
.oneperframe { height: 300px; line-height: 300px; }
.oneperframe ul li { width: 1140px; }
.oneperframe ul li.active { background: #333; }

/* Crazy example */
.crazy ul li:nth-child(2n) { width: 100px; margin: 0 4px 0 20px; }
.crazy ul li:nth-child(3n) { width: 300px; margin: 0 10px 0 5px; }
.crazy ul li:nth-child(4n) { width: 400px; margin: 0 30px 0 2px; }

/* Effects */
.effects {
	-webkit-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	overflow-y: show;
}
.effects ul {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.effects ul li {
	position: relative;
	margin: 0 -20px;
	-webkit-transform: rotateY(60deg) scale(0.9);
	-ms-transform: rotateY(60deg) scale(0.9);
	transform: rotateY(60deg) scale(0.9);
	-webkit-transition: -webkit-transform 300ms ease-out;
	transition: transform 300ms ease-out;
}
.effects ul li.active {
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.effects ul li.active ~ li {
	-webkit-transform: rotateY(-60deg) scale(0.9);
	-ms-transform: rotateY(-60deg) scale(0.9);
	transform: rotateY(-60deg) scale(0.9);
}

/* SELECT2
-------------------------------------------------- */
.ui.fluid.input .select2-container{ width:100%;}
.select2-container{margin:0;position:relative;display:block;zoom:1;vertical-align:middle; font-size:14px;}
.select2-container,
.select2-drop,
.select2-search,
.select2-search input{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.select2-container .select2-choice{display:block;height:35px;padding:0 0 0 8px;overflow:hidden;position:relative;border:1px solid #efc158; border:1px solid #dcab3a;white-space:nowrap;line-height:34px;color:#714c2a;text-decoration:none;background-clip:padding-box;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#f7f7b8; border-radius:2px;}
html[dir=rtl] .select2-container .select2-choice{padding:0 8px 0 0}
.select2-container.select2-drop-above .select2-choice{border-bottom-color:#dcab3a;}
.select2-container.select2-allowclear .select2-choice .select2-chosen{margin-right:42px}
.select2-container .select2-choice>.select2-chosen{margin-right:26px;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;float:none;width:auto}
html[dir=rtl] .select2-container .select2-choice>.select2-chosen{margin-left:26px;margin-right:0}
.select2-container .select2-choice abbr{display:none;width:12px;height:12px;position:absolute;right:24px;top:8px;font-size:1px;text-decoration:none;border:0;background:url(select2/select2.png) right top no-repeat;cursor:pointer;outline:0}
.select2-container.select2-allowclear .select2-choice abbr{display:inline-block}
.select2-container .select2-choice abbr:hover{background-position:right -11px;cursor:pointer}
.select2-drop-mask{border:0;margin:0;padding:0;position:fixed;left:0;top:0;min-height:100%;min-width:100%;height:auto;width:auto;opacity:0;z-index:9998;background-color:#f7f7b8;filter:alpha(opacity=0)}
.select2-drop{width:100%;margin-top:-2px;position:absolute;z-index:9999;top:100%;background:#f7f7b8;color:#714c2a;border:1px solid #dcab3a; border:1px solid #dcab3a;border-top:0;}
.select2-drop.select2-drop-above{margin-top:-4px;border-top:1px solid #dcab3a;border-bottom:0;}
.select2-drop-active{border:1px solid #d56a00;border-top:none;border-bottom-left-radius:6px; border-bottom-right-radius:6px;}
.select2-drop.select2-drop-above.select2-drop-active{border-top:1px solid #d56a00; border-top-left-radius:6px; border-top-right-radius:6px;}
.select2-drop-auto-width{border-top:1px solid #dcab3a;width:auto}
.select2-drop-auto-width .select2-search{padding-top:4px}
.select2-container .select2-choice .select2-arrow{display:inline-block;width:35px;height:100%;position:absolute;right:0;top:0;border-left:1px solid #dcab3a;background:#f7f7b8;}
html[dir=rtl] .select2-container .select2-choice .select2-arrow{left:0;right:auto;border-left:none;border-right:1px solid #dcab3a;}
.select2-container .select2-choice .select2-arrow b{display:block;width:100%;height:100%; background: url('select2/down.png') right top no-repeat;}
/*.select2-container .select2-choice .select2-arrow b:before{ width:100%; font-size:10px; text-align:center; content:"\f063"; padding-top:3px; color:#ad7d49;}*/
html[dir=rtl] .select2-container .select2-choice .select2-arrow b{}
.select2-search{display:inline-block;width:100%;min-height:26px;margin:0;padding-left:8px;padding-right:8px;position:relative;z-index:10000;white-space:nowrap}
.select2-search input{width:100%;height:auto!important;min-height:26px;padding:6px 20px 6px 5px;margin:0;outline:0;font-size:14px;border:none; background:#dcab3a; -webkit-box-shadow:none;box-shadow:none; background:url(select2/search.png) 98% 7px no-repeat #a97d24; color:#fff; border-radius:3px;}
html[dir=rtl] .select2-search input{padding:6px 5px 6px 20px;}

.select2-drop.select2-drop-above .select2-search input{margin-top:10px}
.select2-search input.select2-active{background:#f7f7b8 url(select2/select2-spinner.gif) no-repeat 100%;background:url(select2/select2-spinner.gif) no-repeat 100%,linear-gradient(to bottom,#f7f7b8 85%,#f8f2e9 99%)}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices{border:1px solid #d56a00;outline:0;}
.select2-dropdown-open .select2-choice{border-bottom-color:transparent;-webkit-box-shadow:0 1px 0 #f7f7b8 inset;}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices{border:1px solid #d56a00;border-top-color:transparent;}
.select2-dropdown-open .select2-choice .select2-arrow{background:0 0;border-left:none;filter:none}
html[dir=rtl] .select2-dropdown-open .select2-choice .select2-arrow{border-right:none}
/*.select2-dropdown-open .select2-choice .select2-arrow b:before{ width:100%; font-size:10px; text-align:center; content:"\f062"; padding-top:3px; color:#ad7d49;}*/
.select2-dropdown-open .select2-choice .select2-arrow b{ width:100%; font-size:10px;  background: url('select2/down.png') left top no-repeat;}
.select2-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.select2-results{max-height:200px;padding:0 0 0 4px;margin:8px 8px 8px 4px;position:relative;overflow-x:hidden;overflow-y:auto;-webkit-tap-highlight-color:transparent; font-size:14px;}
html[dir=rtl] .select2-results{padding:0 4px 0 0;margin:4px 0 4px 4px}
.select2-results ul.select2-result-sub{margin:0;padding-left:0}
.select2-results li{list-style:none;display:list-item;background-image:none}
.select2-results li.select2-result-with-children>.select2-result-label{font-weight:700}
.select2-results .select2-result-label{padding:6px 10px 5px;margin:0px;cursor:pointer;min-height:1em;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none; }
.select2-results-dept-1 .select2-result-label{padding-left:20px}
.select2-results-dept-2 .select2-result-label{padding-left:40px}
.select2-results-dept-3 .select2-result-label{padding-left:60px}
.select2-results-dept-4 .select2-result-label{padding-left:80px}
.select2-results-dept-5 .select2-result-label{padding-left:100px}
.select2-results-dept-6 .select2-result-label{padding-left:110px}
.select2-results-dept-7 .select2-result-label{padding-left:120px}
.select2-results .select2-highlighted{background:#800000;color:#f7f7b8}
.select2-results li em{background:#feffde;font-style:normal}
.select2-results .select2-highlighted em{background:0 0}
.select2-results .select2-highlighted ul{background:#f7f7b8;color:#f7f7b8}
.select2-results .select2-ajax-error,
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit{background:#f4f4f4;display:list-item;padding-left:5px}
.select2-results .select2-disabled.select2-highlighted{color:#f7f7b8;background:#f4f4f4;display:list-item;cursor:default}
.select2-results .select2-disabled{background:#f4f4f4;display:list-item;cursor:default}
.select2-results .select2-selected{display:none}
.select2-more-results.select2-active{background:#f4f4f4 url(select2/select2-spinner.gif) no-repeat 100%}
.select2-results .select2-ajax-error{background:rgba(255,50,50,.2)}
.select2-more-results{background:#f4f4f4;display:list-item}
.select2-container.select2-container-disabled .select2-choice{background-color:#f4f4f4;background-image:none;border:1px solid #ddd;cursor:default}
.select2-container.select2-container-disabled .select2-choice .select2-arrow{background-color:#f4f4f4;background-image:none;border-left:0}
.select2-container.select2-container-disabled .select2-choice abbr{display:none}
.select2-container-multi .select2-choices{height:auto!important;height:1%;margin:0;padding:0 10px 0 0;position:relative;border:1px solid #efc158; border:1px solid #efc158;cursor:text;overflow:hidden;background-color:#f7f7b8; border-radius:2px;}
html[dir=rtl] .select2-container-multi .select2-choices{padding:0 0 0 10px}
.select2-locked{padding:3px 5px!important}
.select2-container-multi .select2-choices{min-height:26px}
.select2-container-multi.select2-container-active .select2-choices{border:1px solid #d56a00;outline:0;}
.select2-container-multi .select2-choices li{float:left;list-style:none}
html[dir=rtl] .select2-container-multi .select2-choices li{float:right}
.select2-container-multi .select2-choices .select2-search-field{margin:0;padding:0;white-space:nowrap}
.select2-container-multi .select2-choices .select2-search-field input{padding:6px 10px;margin:1px 0;font-family:sans-serif;font-size:100%;color:#f7f7b8;outline:0;border:0;-webkit-box-shadow:none;box-shadow:none;background:0 0!important; border-radius:2px;}
.select2-container-multi .select2-choices .select2-search-field input.select2-active{background:#f7f7b8 url(select2/select2-spinner.gif) no-repeat 100%!important}
.select2-default{color:#865e2e!important}
.select2-container-multi .select2-choices .select2-search-choice{padding:7px 12px 7px 24px;margin:3px 0 3px 5px;position:relative;line-height:13px;color:#f7f7b8;cursor:default; background-clip:padding-box; -webkit-touch-callout:none; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:#800000; border-radius:2px; font-size:14px; }
html[dir=rtl] .select2-container-multi .select2-choices .select2-search-choice{margin:3px 5px 3px 0;padding:3px 18px 3px 5px}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen{cursor:default}
.select2-container-multi .select2-choices .select2-search-choice-focus{background:#d4d4d4}
.select2-search-choice-close{display:block;width:12px;height:13px;position:absolute;right:3px;top:6px;font-size:1px;outline:0;background:url(select2/select2.png) right top no-repeat}
html[dir=rtl] .select2-search-choice-close{right:auto;left:3px}
.select2-container-multi .select2-search-choice-close{left:3px}
html[dir=rtl] .select2-container-multi .select2-search-choice-close{left:auto;right:2px}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover,
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close{background-position:right -11px}
.select2-container-multi.select2-container-disabled .select2-choices{background-color:#f4f4f4;background-image:none;border:1px solid #ddd;cursor:default}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice{padding:3px 5px;border:1px solid #ddd;background-image:none;background-color:#f4f4f4}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close{display:none;background:0 0}
.select2-result-selectable .select2-match,.select2-result-unselectable .select2-match{text-decoration:underline}
.select2-offscreen,
.select2-offscreen:focus{clip:rect(0 0 0 0)!important;width:1px!important;height:1px!important;border:0!important;margin:0!important;padding:0!important;overflow:hidden!important;position:absolute!important;outline:0!important;left:0!important;top:0!important}
.select2-display-none{display:none}
.select2-measure-scrollbar{position:absolute;top:-10000px;left:-10000px;width:100px;height:100px;overflow:scroll}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:2dppx){
.select2-container .select2-choice .select2-arrow b,
.select2-container .select2-choice abbr,
.select2-search input,
.select2-search-choice-close{background-image:url(select2/select2x2.png)!important;background-repeat:no-repeat!important;background-size:60px 40px!important}
.select2-search input{background-position:100% -21px!important}
}
