<div class="line_devider"></div>
<div class="col-md-12">
  <div class="col-xs-6 col-sm-4 foo_block">
    <h3 class="text-center animated" data-gen="fadeInDown">SEND US</h3><br>
    <ul class="listing light_bullet animated" data-gen="fadeInLeft">
      <li><a href="/contacts/new?contact_type=2">Testmonials</a></li>
      <li><a href="/contacts/new?contact_type=3">Feedback</a></li>
      <li><a href="/friends/new">Invite Friend</a></li>
      <li><a href="/contacts/new?contact_type=1">Prayer Request</a></li>
    </ul>
  </div>
  <div class="col-xs-6 col-sm-4 foo_block text-center foo_2_block" id="Outreach">
    <h3 class="animated" data-gen="fadeInDown">OUTREACH</h3><div class="line_devider visible-xs"></div><br><br>
    <h5 class="animated" data-gen="fadeInLeft"><a href="#">Christian walk bible . com</a></h5>
    <h5 class="animated" data-gen="fadeInLeft"><a href="#">Bible for Bibleless . com</a></h5>
  </div>
  <div class="col-xs-12 col-sm-4 foo_block social_links" id="Connect">
    <h3 class="text-center animated" data-gen="fadeInDown">CONNECT</h3><div class="line_devider visible-xs"></div><br>
    <a href="#" class="animated" data-gen="fadeInLeft"><span class="social_ico web_ico"></span> Bro Mathews Vergis . com</a>
    <a href="#" class="animated" data-gen="fadeInLeft"><span class="social_ico blog_ico"></span> BLOG  - Reaching God</a>
    <a href="#" class="animated" data-gen="fadeInLeft"><span class="social_ico fb_ico"></span> IDCF USA</a>
  </div>
</div>
    
<div class="clearfix"></div>
<div class="line_devider"></div>
<div class="clearfix"></div>

<div class="col-md-12">
  <div class="foo_bottom clearfix">
    <ul class="list-inline list-unstyled">
      <li><a href="index.html">Home</a></li>
      <li><a href="about-us.html">About us</a></li>
      <li><a href="send-us.html">Mail box</a></li>
      <li><a href="contact.html">Contact us</a></li>
    </ul>
    <div class="dwn_links">
      <a href="#">
        <img src="../assets/terms.png" width="20" height="19" alt="terms of use"/>
        <span class="font-11">Terms of use</span>
      </a>
      <a href="#">
        <img src="../assets/sitemap.png" width="20" height="19" alt="sitemap"/>
        <span class="font-11">Sitemap</span>
      </a>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="container-fluid text-center">
  <a href="#" class="font_12 disp_b text-center margin_t10 margin_b15">© 2014 WordToWorldRadio.com. All Rights Reserved.</a>
</div>
<div class="clearfix"></div>


