
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The first ecumenical Christian internet radio in Malayalam">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">   
    <title><%= content_for?(:title) ? "Word to World Radio - Ecumenical Christian internet radio in Malayalam" + "|" + content_for(:title) : "Word to World Radio - Ecumenical Christian internet radio in Malayalam" %></title>

    <!--[if lt IE 9]>
    <script src="javascripts/core/html5shiv.min.js"></script>
    <script src="javascripts/core/respond.min.js"></script>
    <![endif]-->
    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%=csrf_meta_tags %>

