<div class="sticky_hd">
  <header class="main_header">
    <div class="navbar navbar-default anim_head" role="navigation">
      <div class="container"> 
        <div class="menu_wrap">
          <div class="header_top">
            <div class="logo anim_head">
              <a href="#">                
                <%= image_tag "word-to-world-radio-logo.png",width: 355, height: 135%>
              </a>
            </div>
          </div>
          <div class="animated_lyrics">
            <h1 class="divine_lyrics">
              <ul class="texts">
                <li data-in-effect="fadeInLeftBig" data-out-effect="fadeOutRightBig">For I know the plans I have for you," declares the LORD, "plans to prosper you and not to harm you, plans to give you hope and a future. Jeremiah 29:11</li>
                <li data-in-effect="fadeInDownBig" data-out-effect="fadeOutDownBig">Taste and see that the LORD is good; blessed is the man who takes refuge in him. Psalm 34:8</li>
                <li data-in-effect="bounce" data-out-effect="bounceOutRight">A friend loves at all times, and a brother is born for adversity. Proverbs 17:17</li>
                <li data-in-effect="tada" data-out-effect="rotateOutUpRight">Greater love has no one than this, that he lay down his life for his friends. John 15:13</li>
              </ul>
            </h1>
          </div>
          <div class="navbar-header anim_head">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><%= link_to "Home" , root_path, class: "anim_head" %></li>
                <li><%= link_to "About Us" , welcome_about_path , class: "anim_head"%></li>
                <li><%= link_to "Outreach" , root_path, class: "anim_head" %></li>
                <li><%= link_to "Connect" , root_path, class: "anim_head" %></li>
                <li><%= link_to "Mail box" , mailbox_index_path, class: "anim_head" %></li>
                <li><%= link_to "Contact us" , welcome_contact_path, class: "anim_head" %></li>
            </ul>
          </div>

          <div class="header_anim">
            <div class="header_animin">              
              <div class="doves dove1 bounce1"><%= image_tag "dove1.png",width: 121, height: 99%></div>              
              <div class="doves dove2 bounce2"><%= image_tag "dove2.png",width: 78, height: 64%></div>              
              <div class="god"><%= image_tag "god.png",width: 165, height: 215%></div>             
               <div class="glow c_rotate"><%= image_tag "glare.png",width: 608, height: 566%></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="hd_height clearfix"></div>
</div>