<%= javascript_include_tag 'sticky/waypoints.min.js'  %>
<%= javascript_include_tag 'sticky/waypoints-sticky.js'  %>
<%= javascript_include_tag 'core/bootstrap.min.js'  %> 
<%= javascript_include_tag 'sticky/classie.js'  %>
<%= javascript_include_tag 'sticky/cbpAnimatedHeader.min.js'  %> 
<%= javascript_include_tag 'slider/owl.carousel.min.js'  %> 
<%= javascript_include_tag 'slider/sly/sly.js'  %> 
<%= javascript_include_tag 'slider/newsscroll/jquery.newsTicker.js'  %>
<%= javascript_include_tag 'slider/textillate/jquery.lettering.js'  %>
<%= javascript_include_tag 'slider/textillate/jquery.textillate.js'  %>

<script>

	function goToByScroll(id){
	  // Reove "link" from the ID
	  id = id.replace("link", "");
	  // Scroll
	  $('html,body').animate({
	  scrollTop: $("#"+id).offset().top},
	  'slow');
	}
	
	$(".scroll_toid").click(function(e) { 
	  // Prevent a page reload when a link is pressed
	  e.preventDefault(); 
	  // Call the scroll function
	  goToByScroll($(this).attr("id"));
	});
	
	
$(document).ready(function() {
	
	$('.divine_lyrics').textillate({
		loop: true,
		minDisplayTime: 3000,	
		autoStart: true,
	});
	
	$('.floating_menu').waypoint('sticky', {
	  offset: 10
	});	
	
	$(window).scroll(function(event){
		clearTimeout($.data(this, 'scrollTimer'));
		var self = $(this);
		if ($(this).scrollTop() > 100) {
        	$(".main_header").stop(true).fadeTo(50,1);
			
			
		} else {
			$(".main_header").stop(true).fadeTo(400, 1);
		}
		$.data(this, 'scrollTimer', setTimeout(function() {
				// do something
				if(self.scrollTop() >200)
				{
					$(".main_header").stop(true).fadeTo(1500,0);
				}
				else
				{
					$(".main_header").stop(true).fadeTo(400,1);
				}
				
			}, 50));
	});
	
	$(".main_header").mouseover(function(e) {
		if($(".main_header").css("opacity") >0 )
		{
			$(".main_header").stop(true).fadeTo(400,1);
		}
	});
		
	var nt_example1 = $('#prayer-req_slide').newsTicker({
		row_height: 70,
		max_rows: 3,
		duration: 4000,
		direction: 'up',
		prevButton: $('#prayer-req_prev'),
		nextButton: $('#prayer-req_next')
	});
	
	var nt_example2 = $('#testimonial_slide').newsTicker({
		row_height: 70,
		max_rows: 3,
		duration: 4000,
		direction: 'down',
		prevButton: $('#testimonial_prev'),
		nextButton: $('#testimonial_next')
	});
	
	$("#Banner_Slider").owlCarousel({
		navigation : false, // Show next and prev buttons
		slideSpeed : 300,
		paginationSpeed : 400,
		singleItem:true 
	});
	
	$("#Album_Slider1").owlCarousel({
		items : 5,
		lazyLoad : true,
		navigation : true,
		pagination:false
	});
	
	(function () {
		  var $frame = $('#jukebox_Slide');
		  var $wrap  = $frame.parent();
	
		  // Call Sly on frame
		  $frame.sly({
			  horizontal: 1,
			  itemNav: 'forceCentered',
			  smart: 1,
			  activateMiddle: 1,
			  activateOn: 'click',
			  mouseDragging: 1,
			  touchDragging: 1,
			  releaseSwing: 1,
			  startAt: 3,
			  scrollBar: $wrap.find('.scrollbar'),
			  scrollBy: 1,
			  speed: 300,
			  elasticBounds: 1,
			  easing: 'swing',
			  dragHandle: 1,
			  dynamicHandle: 1,
			  clickBar: 1,
	
			  // Buttons
			  prev: $wrap.find('.prev'),
			  next: $wrap.find('.next')
		  });
	  }());
	  
	  (function () {
		  var $frame = $('#Video_Slide');
		  var $wrap  = $frame.parent();
	
		  // Call Sly on frame
		  $frame.sly({
			  horizontal: 1,
			  itemNav: 'forceCentered',
			  smart: 1,
			  activateMiddle: 1,
			  activateOn: 'click',
			  mouseDragging: 1,
			  touchDragging: 1,
			  releaseSwing: 1,
			  startAt: 3,
			  scrollBar: $wrap.find('.scrollbar'),
			  scrollBy: 1,
			  speed: 300,
			  elasticBounds: 1,
			  easing: 'swing',
			  dragHandle: 1,
			  dynamicHandle: 1,
			  clickBar: 1,
	
			  // Buttons
			  prev: $wrap.find('.prev'),
			  next: $wrap.find('.next')
		  });
	  }());
	  
	  (function () {
		  var $frame = $('#Podcast_Slide');
		  var $wrap  = $frame.parent();
	
		  // Call Sly on frame
		  $frame.sly({
			  horizontal: 1,
			  itemNav: 'forceCentered',
			  smart: 1,
			  activateMiddle: 1,
			  activateOn: 'click',
			  mouseDragging: 1,
			  touchDragging: 1,
			  releaseSwing: 1,
			  startAt: 3,
			  scrollBar: $wrap.find('.scrollbar'),
			  scrollBy: 1,
			  speed: 300,
			  elasticBounds: 1,
			  easing: 'swing',
			  dragHandle: 1,
			  dynamicHandle: 1,
			  clickBar: 1,
	
			  // Buttons
			  prev: $wrap.find('.prev'),
			  next: $wrap.find('.next')
		  });
	  }());
	  
	  
	  var w_width = $(window).width();
	  if (w_width >= 960) {
	  if ($(".animated")[0]) {
		jQuery('.animated').css('opacity', '0');
	  }
	  jQuery('.animt').each(function () {
		var $curr = jQuery(this);
		var $currOffset = $curr.attr('data-gen-offset');
		if ($currOffset === '' || $currOffset === 'undefined' || $currOffset === undefined) {
			$currOffset = 'bottom-in-view';
		}
		$curr.waypoint(function () {
			$curr.trigger('animt');
		}, {
			triggerOnce: true,
			offset: $currOffset
		});
	  });
	  jQuery('.animated').each(function () {
		var $curr = jQuery(this);
		$curr.bind('animt', function () {
			$curr.css('opacity', '');
			$curr.addClass($curr.data('gen'));
		});
	  });
	  jQuery('.animated').each(function () {
		var $curr = jQuery(this);
		var $currOffset = $curr.attr('data-gen-offset');
		if ($currOffset === '' || $currOffset === 'undefined' || $currOffset === undefined) {
			$currOffset = 'bottom-in-view';
		}
		$curr.waypoint(function () {
			$curr.trigger('animt');
		}, {
			triggerOnce: true,
			offset: $currOffset
		});
	  });
	  }
	  
	  /*Share-----------------------------------*/
	  
		var pageTitle = document.title; //HTML page title
		var pageUrl = location.href; //Location of the page
		//user hovers on the share button	
		$('#share-wrapper li').hover(function() {
			var hoverEl = $(this); //get element
			
			//browsers with width > 699 get button slide effect
			if($(window).width() > 699) { 
				if (hoverEl.hasClass('visible')){
					hoverEl.stop().animate({"margin-left":"-117px"}, "fast").removeClass('visible');
				} else {
					hoverEl.stop().animate({"margin-left":"0px"}, "fast").addClass('visible');
				}
			}
		});
		//user clicks on a share button
		$('.button-wrap').click(function(event) {
				var shareName = $(this).attr('class').split(' ')[0]; //get the first class name
				
				switch (shareName) //react to different class name
				{
					case 'facebook':
						var openLink = 'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle);
						break;
					case 'twitter':
						var openLink = 'http://twitter.com/home?status=' + encodeURIComponent(pageTitle + ' ' + pageUrl);
						break;
					case 'digg':
						var openLink = 'http://www.digg.com/submit?phase=2&amp;url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle);
						break;
					case 'stumbleupon':
						var openLink = 'http://www.stumbleupon.com/submit?url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle);
						break;
					case 'delicious':
						var openLink = 'http://del.icio.us/post?url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle);
						break;
					case 'google':
						var openLink = 'https://plus.google.com/share?url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle);
						break;
					case 'email':
						var openLink = 'mailto:?subject=' + pageTitle + '&body=Found this useful link for you : ' + pageUrl;
						break;
					case 'pinterest':
						var openLink = 'http://www.pinterest.com/pin/create/button/?url=' + encodeURIComponent(pageUrl) + '&amp;title=' + encodeURIComponent(pageTitle);
						break;
					case 'youtube':
						var openLink = 'https://www.youtube.com/user/' + 'username';
						break;
						
						
				}
			
			//Parameters for the Popup window
			winWidth 	= 650;	
			winHeight	= 450;
			winLeft   	= ($(window).width()  - winWidth)  / 2,
			winTop    	= ($(window).height() - winHeight) / 2,	
			winOptions   = 'width='  + winWidth  + ',height=' + winHeight + ',top='    + winTop    + ',left='   + winLeft;
			
			//open Popup window and redirect user to share website.
			window.open(openLink,'Share This Link',winOptions);
			return false;
		});

  
});
</script>
