<!-- SHARE { -->
<%description = content_for?(:title) ? "Word to World Radio - Ecumenical Christian internet radio in Malayalam" + "|" + content_for(:title) : "Word to World Radio - Ecumenical Christian internet radio in Malayalam" %>
<div id="share-wrapper">
	  <div id="devise_header_render">
       <% unless user_signed_in? %>
        <a href="#" class="login_link" data-toggle="modal" data-target="#Login_Box">
        <%= image_tag "share/login.png",width: 32,height: 32%>
         <span>Login</span></a>
        <a href="#" class="login_link" data-toggle="modal" data-target="#Signup_Box">
         <%= image_tag "share/user.png",width: 32,height: 32%>
         <span>Join Us</span></a>
      <%else%>
          <%= link_to image_tag("share/login.png") + "Logout", destroy_user_session_path, :method => :delete,class: "login_link"%>
          <%= link_to image_tag("share/login.png") + "profile", edit_user_registration_path,class: "login_link"%>
          
      <%end%> 
    </div>  

    <% image_path = sharable_image %>
    <% content_for(:head) do %>
      <meta property="og:image" content="<%= image_path %>"/>
    <% end %>

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>

    <script type="text/javascript">
     $('.prettySocial').prettySocial();
      stLight.options({
         publisher:'12345'
      });
    </script>

     
    <!-- <span class='st_sharethis_custom' displayText='ShareThis' st_image=<%= image_path %> >st_sharethis_custom</span>  -->
    
    <ul class="share-inner-wrp">
        <!-- Facebook -->
        <li class="facebook button-wrap"> 
          <a class='facebook_custom' href="javascript: void(0)" onClick="window.open('http://www.facebook.com/sharer.php?u=<%= request.url %>&fbrefresh=CAN_BE_ANYTHING', 'sharer', 'toolbar=0,status=0,width=548,height=325,resizable=yes');" target="_parent">Facebook
          </a>
        </li>
        <!-- Twitter -->
        <li class="twitter button-wrap">
            <a href="#"><span class='st_twitter_custom twitter' displayText='Tweet' st_image=<%= image_path %> >Twitter</span></a>
        </li>
         <!-- Pinterest -->
        <li class="pinterest button-wrap">
            <a href="#" data-type="pinterest" data-url="<%= request.url%>" data-description="<%= description%>" data-media="<%= image_path %>" class="prettySocial">Pinterest</a>
        </li> 
        <!-- Youtube -->
        <!-- <li class="youtube button-wrap"><a href="#">Youtube</a></li> -->
        <!-- Google -->
        <li class="google button-wrap">
            <a href="#" data-type="googleplus" data-url="<%= request.url%>" data-description="<%= description%>" class="prettySocial">Plus Share</a>
        </li>  
        <!-- Email -->
        <li class="email button-wrap">
            <a href="#"><span class='st_email_custom' displayText='Email' st_image=<%= image_path %>>Email</span></a>
        </li>
    </ul>
</div>

<!-- Signup Modal -->
<div class="modal wtowmodal sign_up_modal" id="Signup_Box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-md">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><strong>Join with us</strong></h4>
    </div>
    
    <div class="modal-body">
    <ul class="errors"></ul>

    <div class="container-fluid">
        <div class="col-md-6 login_left">
        
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),remote: true,:html=> { class: 'form_style2' }) do |f| %>
              <div class="form-group">
                <label for="exampleInputEmail1">Email id</label>
                <%= f.input :email, required: true,label: false, autofocus: true,input_html: {class: "form-control"},placeholder: "Email" %>
                <!-- <input type="email" class="form-control" placeholder="Username"> -->
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <%= f.input :password, required: true,label: false,input_html: {class: "form-control"}, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
                <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Repeat Password</label>
                <%= f.input :password_confirmation,input_html: {class: "form-control"}, required: true,label: false %>
                <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
              </div>
              <div class="form-group">
              <div class="row"><%= f.button :submit, "Submit",class: "btn btn-default margin_t10" %></div>
              </div>
            <%end%>
            
        </div>
        <div class="col-md-6">
            <div class="padding_l20">
            <h3><strong>Sign up with</strong></h3>
            <div class="font_13">with your Facebook or Google plus</div>
            <div class="signin_with">
                <a href="#" class="signin_fb">
                    <%= image_tag "facebook.png",width: 46,height: 46%> 
                    <span>Sign up with Facebook</span>
                </a>
                <a href="#" class="signin_gp">
                    <%= image_tag "google-plus.png",width: 46,height: 46%> 
                    <span>Sign up with Google Plus</span>
                </a>
            </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
</div>
</div>
</div>

<!-- Sign in Modal -->
<div class="modal wtowmodal sign_in_modal" id="Login_Box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-md">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"><strong>Login</strong></h4>
    </div>
    
    <div class="modal-body">
    <p class="signin_errors danger"></p>
    <div class="container-fluid">
        <div class="col-md-6 login_left"> 
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),remote: true,:html=> { class: 'form_style2' }) do |f| %>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
               <%= f.input :email, required: true,label: false, autofocus: true,input_html: {class: "form-control"},placeholder: "Email" %> 
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <%= f.input :password, required: false,label: false,input_html: {class: "form-control"}%> 
            </div>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <div class="form-group">
            <div class="row"><%= f.button :submit, "Log in",class: "btn btn-default margin_t10" %></div>
            </div>
            <div class="clearfix padding_t10">
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name),class: "font_13" %> 
              <% end -%> 
            </div> 
          <%end%> 
        </div>
        <div class="col-md-6">
            <div class="padding_l20">
            <h3><strong>Sign in with</strong></h3>
            <div class="font_13">with your Facebook or Google plus</div>
            <div class="signin_with">
                <a href="<%= user_omniauth_authorize_path(:facebook)%>" class="signin_fb">
                    <%= image_tag "facebook.png",width: 46,height: 46%> 
                    <span>Sign in with Facebook</span>
                </a>
                <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>" class="signin_gp">
                    <%= image_tag "google-plus.png",width: 46,height: 46%> 
                    <span>Sign in with Google Plus</span>
                </a>
            </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
</div>
</div>
</div>

<!-- SHARE } -->
 
