<!DOCTYPE html>
<html>
	<head>
		<%= render "layouts/head"%>
	</head>
	<body>
		<%= render "layouts/share"%>
		<!-- .container -->
		<div class="container">
			<div class="page_wrapper">
				<!-- .navbar -->
				<%= render "layouts/header"%>
				<%= render "welcome/floating_menu"%> 
				<!--/.navbar-->
				<%= yield %>
				<!-- FOOTER  -->
				<footer class="wtow_footer">
					<%= render "layouts/footer"%>
				</footer>
				<!-- FOOTER  -->

			</div>
		</div>
		<%= render "layouts/scripts"%>
	</body>
</html>


